@using ErpOnClick.ErpMain.Resources
@inject LocService SharedLocalizer

@using ErpOnClick.DAL.Models
@{
    List<Lookups> AssetType = Model.AssetType;
}


@section TabName{
    Lookup Setup
}


<div class="card card-default card-outline">

    <div class="card-header">
        <h2 class="card-title">
            @SharedLocalizer.GetLocalizedHtmlString("Fixed Assets") 
        </h2>
        <!-- tools box -->
        <div class="card-tools">
            <a id="printList" href="" target="_blank" class="btn btn-default btn-sm"><i class="fa fa-print fa-fw"></i>@SharedLocalizer.GetLocalizedHtmlString("Print")</a>

            <a href="~/Finance/FixedAsset/edit" type="button" class="btn btn-sm btn-primary">
                <i class="fas fa-plus"></i> @SharedLocalizer.GetLocalizedHtmlString("Add New")
            </a>
        </div>
        <!-- /. tools -->
    </div>
    <div class="card-footer pb-0 pt-2 text-sm">
        <form id="frmSearch">
            <div class="row">
                <div class="col-sm-2">
                    <div class="form-group ">
                        <label>@SharedLocalizer.GetLocalizedHtmlString("Purchase Date From")</label>
                        <input class="form-control " type="date" name="PurchaseDateFrom" id="PurchaseDateFrom" />
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group ">
                        <label>@SharedLocalizer.GetLocalizedHtmlString("Purchase Date To")</label>
                        <input class="form-control " type="date" name="PurchaseDateTo" id="PurchaseDateTo" />
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group ">
                        <label>@SharedLocalizer.GetLocalizedHtmlString("Asset")</label>
                        <select name="AssetType" id="AssetType" class="form-control input-sm text-sm ">
                            <option value="">All</option>
                            @foreach (var item in AssetType)
                            {
                                <option value="@item.Code"> @item.LookupNameEn</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group ">
                        <label>@SharedLocalizer.GetLocalizedHtmlString("Warranty Date From")</label>
                        <input class="form-control " type="date" name="WarrantyDateFrom" id="WarrantyDateFrom" />
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group ">
                        <label>@SharedLocalizer.GetLocalizedHtmlString("Warranty Date To")</label>
                        <input class="form-control " type="date" name="WarrantyDateTo" id="WarrantyDateTo" />
                    </div>
                </div>
                <div style="display:none">
                    <button type="submit" class="btn btn-default btn-block">Refresh</button>
                </div>
            </div>
        </form>
    </div>
    <div class="card-body">
        <div id="divList"></div>

    </div>
</div>



@section scripts{
    <script>
        $(function () {
            $('#Accli').addClass("menu-open");
            $('#Reportsli').removeClass("menu-open");
            $('#Statementsli').removeClass("menu-open");
            $('#AccPli').removeClass("menu-open");
            $('#AccRli').removeClass("menu-open");
            $('#Setupli').removeClass("menu-open");

            //var date = new Date();
            //var dd = String(date.getDate()).padStart(2, '0');
            //var mm = String(date.getMonth() + 1).padStart(2, '0')
            //var yyyy = date.getFullYear();
            //var premonth = parseInt(mm) - 1;
            //var start = yyyy + '-' + mm + '-' + '01';
            //today = yyyy + '-' + mm + '-' + dd;
            //$('#PurchaseDateFrom').val(start);
            //$('#PurchaseDateTo').val(today);
            //$('#WarrantyDateFrom').val(start);
            //$('#WarrantyDateTo').val(today);
            $('#frmSearch button').click();
        });

        $('#frmSearch').find('input, select').change(() => {
            $('#frmSearch button').click();
        });

        $('#frmSearch').submit(function (e) {
            e.preventDefault();
            BindGrid();

        });


        function BindGrid() {

            $('#divList').html('<h5 class="margin-0"><p><i class="fa fa-spinner fa-spin fa-fw"></i> Please wait while data is loading...</p></h5>');
            $.ajax({
                url: getApplicationName() + 'Finance/FixedAsset/_list',
                data: $('#frmSearch').serialize(),
                success: function (data) {
                    $('#divList').html(data);
                }
            })
        }

        $('#printList').click(function (e) {
            var PurchaseDateFrom = $('#PurchaseDateFrom').val();
            var PurchaseDateTo = $('#PurchaseDateTo').val();
            var AssetType = $('#AssetType').val();
            var WarrantyDateFrom = $('#WarrantyDateFrom').val();
            var WarrantyDateTo = $('#WarrantyDateTo').val();
            window.open(getApplicationName() + "Finance/FixedAsset/PrintList?PurchaseDateFrom=" + PurchaseDateFrom + "&PurchaseDateTo=" + PurchaseDateTo + "&AssetType=" + AssetType + "&WarrantyDateFrom=" + WarrantyDateFrom + "&WarrantyDateTo=" + WarrantyDateTo, "_blank");
        });
    </script>
}
