@using ErpOnClick.DAL.Models
@using ErpOnClick.ErpMain.Resources
@inject LocService SharedLocalizer

@{
    List<Tasks> TaskList = Model.TaskList;

}

<div class="table-responsive pb-2 ">
    <table id="dtList" class="table table-hover table-condensed " style="display:none">
        <thead class="text-sm">
            <tr>

                <th width="10px">@SharedLocalizer.GetLocalizedHtmlString("Id")  </th>
                <th>@SharedLocalizer.GetLocalizedHtmlString("Title")  </th>
                <th>@SharedLocalizer.GetLocalizedHtmlString("Project") Project </th>
                <th>@SharedLocalizer.GetLocalizedHtmlString("Assigned To")  </th>
                <th>@SharedLocalizer.GetLocalizedHtmlString("Task Type")  </th>
                <th>@SharedLocalizer.GetLocalizedHtmlString("Task Progress(%)")  </th>
                <th>@SharedLocalizer.GetLocalizedHtmlString("Task Status")  </th>



                <th width="30px"></th>
                <th width="30px"></th>
            </tr>
        </thead>
        <tfoot style="display:table-row-group">
            <tr class="text-center">
                <th width="10px">@SharedLocalizer.GetLocalizedHtmlString("Id")  </th>
                <th>@SharedLocalizer.GetLocalizedHtmlString("Title")  </th>
                <th>@SharedLocalizer.GetLocalizedHtmlString("Project") Project </th>
                <th>@SharedLocalizer.GetLocalizedHtmlString("Assigned To")  </th>
                <th>@SharedLocalizer.GetLocalizedHtmlString("Task Type")  </th>
                <th>@SharedLocalizer.GetLocalizedHtmlString("Task Progress(%)")  </th>
                <th>@SharedLocalizer.GetLocalizedHtmlString("Task Status")  </th>

                <th></th>
                <th></th>

            </tr>
        </tfoot>
        <tbody>
            @foreach (var item in TaskList)
            {

                <tr class="text-center">
                    <td align="left"> @item.TaskId </td>
                    <td align="left"> @item.TaskTitle </td>
                    <td align="left"> @(item.Project != null ? item.Project.ProjectTitle :"")</td>
                    <td align="left">  @(item.AssignedToEmp !=null ? item.AssignedToEmp.FirstNameEn + " " + item.AssignedToEmp.FatherNameEn + " " + item.AssignedToEmp.GrandNameEn + " " + item.AssignedToEmp.FamilyNameEn :"") </td>
                    <td align="left"> @(item.TaskType !=null ? item.TaskType.LookupNameEn:"" )</td>
                    <td align="left"> @item.TaskProgressPercent % </td>
                    <td align="left">
                        @{
                            var status = (item.TaskStatus != null ? item.TaskStatus.LookupNameEn : "");

                            if (status == "New")
                            {
                                <label class="badge badge-danger">New</label>
                            }
                            else if (status == "Pending")
                            {
                                <label class="badge badge-warning">Pending</label>
                            }
                            else
                            {
                                <label class="badge badge-success">Completed</label>
                            }
                        }
                    </td>
                    <td class="text-center padding-5">
                        <a href="~/Projects/Tasks/edit/@item.TaskId" class="btn btn-default btn-block  btn-xs "><i class="fa fa-edit"></i></a>
                    </td>
                    <td class="text-center padding-5">
                        <a href="javascript:void(0)" class="btn btn-default btn-block btn-xs " onclick="deleteItem('@item.TaskId')"><i class="fa fa-times text-danger"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>


<script>
    $(function () {

        _initDatatable('#dtList');
        $('#dtList').show();
    });

    function deleteItem(id) {
        confirmAction('Confirm ?', 'Are you sure you want to save changes ?', 'info', 'Yes', 'No').then(function (result) {
            if (result.value == true) {

                $.ajax({
                    url: getApplicationName() + "Projects/Tasks/delete",
                    async: false,
                    type: "POST",
                    data: { id },
                    success: function (data) {
                        if (data.result.isError != true) {
                            showMsg('Deleted !', 'Record has been deleted !', 'success');
                            setTimeout(function () {
                                window.location = getApplicationName() + 'Projects/Tasks';
                            }, 500);
                        }
                        else if (data.result.msg != '') {
                            showMsg('Delete Failed !', data.result.msg, 'error');
                        }
                        else {
                            showMsg('Delete Failed !', 'Something went wrong. Try again', 'error');
                        }
                    }
                });
            }
        });
    }

</script>