@using ErpOnClick.DAL.Models
@using ErpOnClick.ErpMain.Resources
@inject LocService SharedLocalizer
@{


    IList<Branch> branchList = Model.branchList;
    IList<Company> companyList = Model.companyList;
    IList<Lookups> TaskTypeList = Model.TaskTypeList;
    IList<Lookups> TaskStatusList = Model.TaskStatusList;
    IList<Emp> empList = Model.empList;
    IList<Tasks> parentTaskList = Model.parentTaskList;
    IList<Projects> projectList = Model.projectList;

    Tasks TaskDetails = Model.TaskDetails;
    bool isEdit = (TaskDetails != null);
}



<form id="frmEdit" role="form">
    <input type="hidden" id="ACTION_TYPE" name="ACTION_TYPE" value="@(isEdit ? "update" : "save")" />
    <input type="hidden" id="TaskId" name="TaskId" class="form-control" value="@(TaskDetails != null ? TaskDetails.TaskId : 0)" @(isEdit ? "readonly" : "") min="3" maxlength="3">
    <input type="hidden" id="CompanyId" name="CompanyId" class="form-control" value="@(TaskDetails != null ? TaskDetails.CompanyId : 0)">
    <input type="hidden" id="BranchId" name="BranchId" class="form-control" value="@(TaskDetails != null ? TaskDetails.BranchId : 0)">

    <div class="card card-default card-outline col-lg-8">

        <div class="card-header">
            <h2 class="card-title">
                @SharedLocalizer.GetLocalizedHtmlString("Task Detail") 
            </h2>
            <!-- tools box -->
            <div class="card-tools">
                <button type="submit" class="btn  btn-sm btn-primary">
                    <i class="fas fa-save fa-fw"></i> @SharedLocalizer.GetLocalizedHtmlString("Save")   
                </button>
                <a href="~/Projects/Tasks" type="button" class="btn  btn-sm btn-default">
                    <i class="fas fa-arrow-left fa-fw"></i>  @SharedLocalizer.GetLocalizedHtmlString("Return")  
                </a>
            </div>
            <!-- /. tools -->
        </div>
        <div class="card-body">

            <div class="row">
                <div class="col-sm-3">
                    <div class="form-group">
                        <label>  @SharedLocalizer.GetLocalizedHtmlString("Title")   </label>
                        <input type="text" id="TaskTitle" name="TaskTitle" class="form-control" value="@(TaskDetails!=null?TaskDetails.TaskTitle: null)" required>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label> @SharedLocalizer.GetLocalizedHtmlString("Projects")</label>
                        <select id="ProjectId" name="ProjectId" class="form-control">
                            <option></option>
                            @foreach (var item in projectList)
                            {
                                <option value="@item.ProjectId" @(TaskDetails != null && TaskDetails.ProjectId == item.ProjectId ? "selected" : "")>
                                    @item.ProjectTitle
                                </option>
                            }
                        </select>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label> @SharedLocalizer.GetLocalizedHtmlString("Assigned To") </label>
                        <select id="AssignedToEmpId" name="AssignedToEmpId" class="form-control" required>
                            <option></option>
                            @foreach (var item in empList)
                            {
                                <option value="@item.EmpId" @(TaskDetails != null && TaskDetails.AssignedToEmpId == item.EmpId ? "selected" : "")>
                                    @(item.FirstNameEn + " " + item.FatherNameEn + " " + item.GrandNameEn + " " + item.FamilyNameEn)
                                </option>
                            }
                        </select>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label>@SharedLocalizer.GetLocalizedHtmlString("Task Status") </label>
                        <select id="TaskStatusId" name="TaskStatusId" class="form-control" required>

                            @foreach (var item in TaskStatusList)
                            {
                                <option value="@item.Code" @(TaskDetails != null && TaskDetails.TaskStatusId == item.Code ? "selected" : "")>
                                    @item.LookupNameEn
                                </option>
                            }
                        </select>
                    </div>
                </div>


                <div class="col-sm-3">
                    <div class="form-group">
                        <label>@SharedLocalizer.GetLocalizedHtmlString("Plan (Date From)")</label>
                        <input type="text" required id="PlanDateFrom" name="PlanDateFrom" class="form-control DatePicker" value="@(TaskDetails != null && TaskDetails.PlanDateFrom !=null ? Convert.ToDateTime(TaskDetails.PlanDateFrom).ToString("dd-MMM-yyyy") : "")">

                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label>@SharedLocalizer.GetLocalizedHtmlString("Plan (Date To)")</label>
                        <input type="text" required id="PlanDateTo" name="PlanDateTo" class="form-control DatePicker" value="@(TaskDetails != null && TaskDetails.PlanDateTo !=null ? Convert.ToDateTime(TaskDetails.PlanDateTo).ToString("dd-MMM-yyyy") : "")">

                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label>@SharedLocalizer.GetLocalizedHtmlString("Start Date")</label>
                        <input type="text" id="TaskStartDate" name="TaskStartDate" class="form-control DatePicker" value="@(TaskDetails != null && TaskDetails.TaskStartDate !=null ? Convert.ToDateTime(TaskDetails.TaskStartDate).ToString("dd-MMM-yyyy") : "")">

                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label>@SharedLocalizer.GetLocalizedHtmlString("End Date")</label>
                        <input type="text" id="TaskEndDate" name="TaskEndDate" class="form-control DatePicker" value="@(TaskDetails != null && TaskDetails.TaskEndDate !=null ? Convert.ToDateTime(TaskDetails.TaskEndDate).ToString("dd-MMM-yyyy") : "")">

                    </div>
                </div>
                <div class="col-md-12"><hr /></div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>@SharedLocalizer.GetLocalizedHtmlString("Task Progress (%)")</label>
                        <input type="number" id="TaskProgressPercent" name="TaskProgressPercent" class="form-control" value="@(TaskDetails!=null?TaskDetails.TaskProgressPercent: null)">
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>@SharedLocalizer.GetLocalizedHtmlString("Parent Task")</label>
                        <select id="ParentTaskId" name="ParentTaskId" class="form-control">
                            <option></option>
                            @foreach (var item in parentTaskList)
                            {
                                <option value="@item.TaskId" @(TaskDetails != null && TaskDetails.ParentTaskId == item.TaskId ? "selected" : "")>
                                    @item.TaskTitle
                                </option>
                            }
                        </select>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>@SharedLocalizer.GetLocalizedHtmlString("Related Task")</label>
                        <select id="RelatedTaskId" name="RelatedTaskId" class="form-control">
                            <option></option>
                            @foreach (var item in parentTaskList)
                            {
                                <option value="@item.TaskId" @(TaskDetails != null && TaskDetails.RelatedTaskId == item.TaskId ? "selected" : "")>
                                    @item.TaskTitle
                                </option>
                            }
                        </select>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label> @SharedLocalizer.GetLocalizedHtmlString("Task Type")</label>
                        <select id="TaskTypeId" name="TaskTypeId" class="form-control">
                            <option></option>
                            @foreach (var item in TaskTypeList)
                            {
                                <option value="@item.Code" @(TaskDetails != null && TaskDetails.TaskTypeId == item.Code ? "selected" : "")>
                                    @item.LookupNameEn
                                </option>
                            }
                        </select>
                    </div>
                </div>
                <div class="col-md-12"><hr /></div>
                <div class="col-md-12 card-header">
                    <label>@SharedLocalizer.GetLocalizedHtmlString("Detail")</label>
                    <textarea @(TaskDetails != null && TaskDetails.TaskDetail != null ? "disabled" : "") required id="TaskDetail" rows="4" name="TaskDetail"
                              style="width: 100%; height: 80px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;">@(TaskDetails != null? TaskDetails.TaskDetail : "")</textarea>
                </div>
            </div>
        </div>

    </div>

    <div class="card card-default card-outline col-lg-8" style="display:none">
        <div class="card-header">
            <h2 class="card-title">
                @SharedLocalizer.GetLocalizedHtmlString("Organisation Details")
            </h2>") 
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-sm-6 ">
                    <div class="form-group">
                        <label>@SharedLocalizer.GetLocalizedHtmlString("Company")</label>
                        <select id="CompanyId" name="CompanyId" class="form-control" >
                            <option selected></option>
                            @foreach (var item in companyList)
                            {
                                <option value="@item.CompanyId" @(TaskDetails != null && TaskDetails.CompanyId == item.CompanyId ? "selected" : "")>
                                    @item.CoNameEn
                                </option>
                            }
                        </select>
                    </div>
                </div>
                <div class="col-sm-6 ">
                    <div class="form-group">
                        <label>@SharedLocalizer.GetLocalizedHtmlString("Branch")</label>
                        <select id="BranchId" name="BranchId" class="form-control" >
                            <option selected></option>
                            @foreach (var item in branchList)
                            {
                                <option value="@item.BranchId" @(TaskDetails != null && TaskDetails.BranchId == item.BranchId ? "selected" : "")>
                                    @item.BranchNameEn
                                </option>
                            }
                        </select>
                    </div>
                </div>

            </div>
        </div>
    </div>
</form>





@section scripts{

    <script>

        $(function () {


        });

        $('#CompanyId').change(function () {

            var id = $('#CompanyId').val();

            $.ajax({
                url: getApplicationName() + "Ajax/BranchCascading",
                async: false,
                type: "POST",
                data: { id: id },
                success: function (data) {

                    var item = '';

                    $.each(data.result, function (i, product) {

                        item += "<option value='" + product.branchId + "'>" + product.branchNameEn + "</option>";
                    });

                    $("#BranchId").html(item);

                }
            });

        });
        $('#frmEdit').on('submit', function (e) {
            e.preventDefault();
            var actionType = $('#ACTION_TYPE').val();

            confirmAction('Confirm ?', 'Are you sure you want to save changes ?', 'info', 'Yes', 'No').then(function (result) {
                if (result.value == true) {

                    var params = $('#frmEdit').serialize();
                    $.ajax({
                        url: getApplicationName() + "Projects/Tasks/" + actionType,
                        async: false,
                        type: "POST",
                        data: params,
                        success: function (data) {
                            if (data.result.isError != true) {
                                showMsg('Saved !', 'Record has been saved !', 'success');
                                setTimeout(function () {
                                    window.location = getApplicationName() + 'Projects/Tasks';
                                }, 500);
                            }
                            else if (data.result.msg != '') {
                                showMsg('Save Failed !', data.result.msg, 'error');
                            }
                            else {
                                showMsg('Save Failed !', 'Something went wrong. Try again', 'error');
                            }
                        }
                    });
                }
            });




        });

    </script>

}