@using ErpOnClick.DAL.Models
@using ErpOnClick.ErpMain.Resources
@inject LocService SharedLocalizer

@{ List<Lookups> ActiveStatus = Model.ActiveStatus; }

@section TabName{
    Lookup Setup
}


<div class="card card-default card-outline">

    <div class="card-header">
        <h2 class="card-title">
            @SharedLocalizer.GetLocalizedHtmlString("Tax Rates")
        </h2>
        <!-- tools box -->
        <div class="card-tools">
            <a id="printList" href="" target="_blank" class="btn btn-default btn-sm"><i class="fa fa-print fa-fw"></i>@SharedLocalizer.GetLocalizedHtmlString("Print")</a>

            <a href="~/Finance/TaxRates/edit" type="button" class="btn btn-sm btn-primary">
                <i class="fas fa-plus"></i> @SharedLocalizer.GetLocalizedHtmlString("Add New")
            </a>
        </div>
        <!-- /. tools -->
    </div>

    <div class="card-footer pb-0 pt-2 text-sm">
        <form id="frmSearch">
            <div class="row">
                <div class="col-sm-3">
                    <div class="form-group ">
                        <label>@SharedLocalizer.GetLocalizedHtmlString("Status")</label>
                        <select name="Status" id="Status" class="form-control input-sm text-sm ">
                            <option value="">All</option>
                            @foreach (var item in ActiveStatus)
                            {
                                <option value="@item.Code"> @item.LookupNameEn</option>
                            }
                        </select>
                    </div>
                </div>
                <div style="display:none">
                    <button type="submit" class="btn btn-default btn-block">Refresh</button>
                </div>
            </div>
        </form>
    </div>
    <div class="card-body">
        <div id="divList"></div>

    </div>
</div>


@section scripts{
    <script>
        $(function () {
            $('#Setupli').addClass("menu-open");
            $('#AccPli').removeClass("menu-open");
            $('#Statementsli').removeClass("menu-open");
            $('#Reportsli').removeClass("menu-open");
            $('#AccRli').removeClass("menu-open");
            $('#Accli').removeClass("menu-open");

            $('#frmSearch button').click();
        });

        $('#frmSearch').find('input, select').change(() => {
            $('#frmSearch button').click();
        });

        $('#frmSearch').submit(function (e) {
            e.preventDefault();
            BindGrid();

        });


        function BindGrid() {
            
            $('#divList').html('<h5 class="margin-0"><p><i class="fa fa-spinner fa-spin fa-fw"></i> Please wait while data is loading...</p></h5>');
            $.ajax({
                url: getApplicationName() + 'Finance/TaxRates/_list',
                data: $('#frmSearch').serialize(),
                success: function (data) {
                    $('#divList').html(data);
                }
            })
        }

        $('#printList').click(function (e) {
            var Status = $('#Status').val();
            window.open(getApplicationName() + "Finance/TaxRates/PrintList?Status=" + Status, "_blank");
        });
    </script>
}



