@using ErpOnClick.DAL.Models
@using ErpOnClick.ErpMain.Resources
@inject LocService SharedLocalizer

@{ List<GeneralEntries> GeneralEntriesMDetails = Model.generalEntriesMList; }
<div class="table-responsive pb-2 ">
    <table id="dtList" class="table table-hover table-condensed ">
        <thead class="text-sm">
            <tr class="col-lg-12">
                <th style="width:20px">@SharedLocalizer.GetLocalizedHtmlString("Id")</th>
                <th>@SharedLocalizer.GetLocalizedHtmlString("Entry #") </th>
                <th>@SharedLocalizer.GetLocalizedHtmlString("Currency")</th>
                <th>@SharedLocalizer.GetLocalizedHtmlString("Date")</th>
                <th>@SharedLocalizer.GetLocalizedHtmlString("Total Debit")</th>
                <th>@SharedLocalizer.GetLocalizedHtmlString("Total Credit")</th>
                <th style="width:25px">@SharedLocalizer.GetLocalizedHtmlString("Edit")</th>
                <th style="width:25px">@SharedLocalizer.GetLocalizedHtmlString("Delete")</th>
            </tr>
        </thead>
        <tfoot style="display:table-row-group">
            <tr class="text-center">
                <th style="width:20px">ID</th>
                <th>Entry # </th>
                <th>Currency</th>
                <th>Date</th>
                <th>Total Debit</th>
                <th>Total Credit</th>
                <td></td>
                <td></td>

            </tr>
        </tfoot>
        <tbody>
            @foreach (var item in GeneralEntriesMDetails)
            {

<tr class="text-center">
    <td style="width:20px">@item.GeneralEntryId</td>
    <td>@item.GeneralEntryNo</td>
    <td>@item.Currency</td>
    <td class="text-center">@Convert.ToDateTime(item.GeneralEntryDate).ToString("dd-MMM-yyyy")</td>
    <td class="text-right">@item.TotalDebit</td>
    <td class="text-right">@item.TotalCredit</td>
    <td class="text-center padding-5">
        <a href="~/Finance/GeneralEntries/edit/@item.GeneralEntryId" class="btn btn-default btn-block  btn-xs "><i class="fa fa-edit"></i></a>
    </td>
    <td class="text-center padding-5">
        <a href="javascript:void(0)" class="btn btn-default btn-block btn-xs " onclick="deleteItem('@item.GeneralEntryId')"><i class="fa fa-times text-danger"></i></a>
    </td>
</tr>}
        </tbody>
    </table>
</div>

<script>
    $(function () {
        _initDatatable('#dtList');
    });

    function deleteItem(id) {
        confirmAction('Confirm ?', 'Are you sure you want to save changes ?', 'info', 'Yes', 'No').then(function (result) {
            if (result.value == true) {
                $.ajax({
                    url: getApplicationName() + 'Finance/GeneralEntries/Delete',
                    async: false,
                    type: "POST",
                    data: { id },
                    success: function (data) {
                        if (data.result.isError == true) {
                            showMsg('Deleted !', 'Record has been deleted !', 'success');
                            setTimeout(function () {
                                window.location = getApplicationName() + 'Finance/GeneralEntries';
                            }, 500);
                        }
                        else if (data.result.msg != '') {
                            showMsg('Delete Failed !', data.result.msg, 'error');
                        }
                        else {
                            showMsg('Delete Failed !', 'Something went wrong. Try again', 'error');
                        }
                    }
                });
            }
        });
    }





</script>