@using ErpOnClick.DAL.Models
@using ErpOnClick.ErpMain.Resources
@inject LocService SharedLocalizer

@{
    List<Leaves> LeaveList = Model.LeaveList;

}
<style>
    .btnwidth {
        width: 75px;
    }
</style>
<div class="table-responsive pb-2 ">
    <table id="dtList" class="table table-hover table-condensed " style="display:none">
        <thead class="text-sm">
            <tr>
                <th width="10px"> @SharedLocalizer.GetLocalizedHtmlString("Sr No.")</th>
                <th align="left"> @SharedLocalizer.GetLocalizedHtmlString("Employee")</th>
                <th> @SharedLocalizer.GetLocalizedHtmlString("From")</th>
                <th> @SharedLocalizer.GetLocalizedHtmlString("To")</th>
                <th> @SharedLocalizer.GetLocalizedHtmlString("Days")</th>
                <th>@SharedLocalizer.GetLocalizedHtmlString("Type")</th>
                <th>@SharedLocalizer.GetLocalizedHtmlString("Status")</th>
                <th width="30px"></th>

            </tr>
        </thead>
        <tfoot style="display:table-row-group">
            <tr class="text-center">
                <th width="10px"> Sr No.</th>
                <th align="left"> Employee</th>
                <th> From</th>
                <th> To</th>
                <th> Days</th>
                <th>Type</th>
                <th>Status</th>
                <th></th>


            </tr>
        </tfoot>
        <tbody>
            @{ var i = 1; }   
            @foreach (var item in LeaveList)
            {

            <tr class="text-center">
                <td>@i </td>
                @{ i += 1;}
                <td align="left"> @(item.Emp !=null ? item.Emp.FirstNameEn + " " + item.Emp.FatherNameEn + " " + item.Emp.GrandNameEn + " " + item.Emp.FamilyNameEn :"")</td>
                <td>@(item.DateFrom != null ? Convert.ToDateTime(item.DateFrom).ToString("dd-MMM-yyyy") : "")</td>
                <td>@(item.DateTo != null ? Convert.ToDateTime(item.DateTo).ToString("dd-MMM-yyyy") : "")</td>
                <td>@((item.DateTo != null && item.DateFrom != null) ? (Convert.ToDateTime(item.DateTo) - Convert.ToDateTime(item.DateFrom)).TotalDays : "")</td>
                <td>@(item.LeaveType !=null ? item.LeaveType.LookupNameEn :"")</td>
                <td align="center">
                    @if (item.LeaveStatusNavigation != null && item.LeaveStatusNavigation.LookupNameEn == "Rejected")
                    {
                        <label class="btnwidth p-1 badge badge-danger mb-0">Rejected</label>

                    }
                    else if (item.LeaveStatusNavigation != null && item.LeaveStatusNavigation.LookupNameEn == "Approved")
                    {
                        <label class="btnwidth p-1 badge badge-success mb-0">Approved</label>
                    }
                    else if (item.LeaveStatusNavigation != null && item.LeaveStatusNavigation.LookupNameEn == "Pending")
                    {
                        <label class="btnwidth p-1 badge badge-warning mb-0">Pending</label>
                    }
                    else
                    {

                    }
                </td>
                <td class="text-center padding-5">
                    <a href="~/ESS/EmpLeaves/view/@item.LeaveId" class="btn btn-default btn-block  btn-xs "><i class="fa fa-search"></i></a>
                </td>

            </tr>
            }
        </tbody>
    </table>
</div>

<script>
    $(function () {

        _initDatatable('#dtList');
        $('#dtList').show();
    });
    var applicationName = getApplicationName();

    function deleteItem(id) {
        confirmAction('Confirm ?', 'Are you sure you want to save changes ?', 'info', 'Yes', 'No').then(function (result) {
            if (result.value == true) {

                $.ajax({
                    url: applicationName + "ESS/Leave/delete",
                    async: false,
                    type: "POST",
                    data: { id },
                    success: function (data) {
                        if (data.result.isError != true) {
                            showMsg('Deleted !', 'Record has been deleted !', 'success');
                            setTimeout(function () {
                                window.location = applicationName + 'ESS/EmpLeaves';
                            }, 500);
                        }
                        else if (data.result.msg != '') {
                            showMsg('Delete Failed !', data.result.msg, 'error');
                        }
                        else {
                            showMsg('Delete Failed !', 'Something went wrong. Try again', 'error');
                        }
                    }
                });
            }
        });
    }

    function returnFromLeaves(empid, leaveid) {
        $.ajax({
            url: applicationName + "ESS/LeavesReturn/edit",
            async: false,
            type: "POST",
            data: { empid: empid, leaveid: leaveid },
            success: function (data) {
                $('#leaveReturnModal #leaveReturnModalBody').html(data);
                $('#leaveReturnModal').modal("show");
            }
        });
    }

</script>