@using ErpOnClick.DAL.Models
@using ErpOnClick.ErpMain.Resources
@inject LocService SharedLocalizer

@{


    IList<Branch> branchList = Model.branchList;
    IList<Company> companyList = Model.companyList;
    IList<Emp> empList = Model.empList;
    IList<Emp> employee = Model.employee;
    IList<Lookups> leaveTypeList = Model.leaveTypeList;
    IList<Lookups> attachmentTypeList = Model.attachmentTypeList;
    IList<Lookups> leaveStatusList = Model.leaveStatusList;

    Leaves LeaveDetails = Model.LeaveDetails;
    bool isEdit = (LeaveDetails != null);

}
<style>
    hr.new5 {
        border: 10px solid green;
        border-radius: 5px;
    }
</style>

@Html.Partial("/Views/Shared/ESSLayout/_generalModalPartial.cshtml")


<form id="frmEdit" role="form">
    <input type="hidden" id="ACTION_TYPE" name="ACTION_TYPE" value="@(isEdit ? "update" : "save")" />
    <input type="hidden" id="LeaveId" name="LeaveId" class="form-control" value="@(LeaveDetails != null ? LeaveDetails.LeaveId : 0)" @(isEdit ? "readonly" : "") min="4" maxlength="4">
    <input type="hidden" id="CompanyId" name="CompanyId" class="form-control" value="@(LeaveDetails != null ? LeaveDetails.CompanyId : 0)">
    <input type="hidden" id="BranchId" name="BranchId" class="form-control" value="@(LeaveDetails != null ? LeaveDetails.BranchId : 0)">
    <div class="card card-default card-outline col-lg-10">

        <div class="card-header">
            <h2 class="card-title">
                @SharedLocalizer.GetLocalizedHtmlString("Leave Request Detail")
            </h2>
            <!-- tools box -->
            <div class="card-tools">
                <button type="submit" class="btn  btn-sm btn-primary" @(LeaveDetails != null && LeaveDetails.LeaveStatus != null ? "hidden" : "")>
                    <i class="fas fa-save fa-fw"></i> @SharedLocalizer.GetLocalizedHtmlString("Save Leave Request")
                </button>
                <a id="postBtn" @(!isEdit ? "hidden" : "" ) class="btn  btn-sm btn-success" @(LeaveDetails != null && LeaveDetails.LeaveStatus != null ? "hidden" : "")>
                    <i class="fas fa-save fa-fw"></i> @SharedLocalizer.GetLocalizedHtmlString("Submit for Approval")
                </a>
                <a href="~/ESS/EmpLeaves" type="button" class="btn  btn-sm btn-default">
                    <i class="fas fa-arrow-left fa-fw"></i> @SharedLocalizer.GetLocalizedHtmlString("Return")
                </a>
            </div>
            <!-- /. tools -->
        </div>
        <div class="card-body">

            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label>@SharedLocalizer.GetLocalizedHtmlString("Employee")</label>
                        <select id="EmpId" name="EmpId" class="form-control" required @(LeaveDetails != null && LeaveDetails.LeaveStatus != null ? "disabled" : "")>
                            <option></option>
                            @foreach (var item in employee)
                            {
                                <option value="@item.EmpId" selected>
                                    @(item.FirstNameEn + " " + item.FatherNameEn + " " + item.GrandNameEn + " " + item.FamilyNameEn)
                                </option>
                            }
                        </select>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label>@SharedLocalizer.GetLocalizedHtmlString("Leave Type")</label>

                        <select id="LeaveTypeId" name="LeaveTypeId" class="form-control" required @(LeaveDetails != null && LeaveDetails.LeaveStatus != null ? "disabled" : "")>
                            <option value="0">
                                Please Select....
                            </option>

                            @foreach (var item in leaveTypeList)
                            {
                                <option value="@item.Code" @(LeaveDetails != null && LeaveDetails.LeaveTypeId == item.Code ? "selected" : "")>
                                    @item.LookupNameEn
                                </option>
                            }
                        </select>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label>@SharedLocalizer.GetLocalizedHtmlString("Date From")</label>
                        <input type="text" id="DateFrom" name="DateFrom" required class="form-control DatePicker" value="@(LeaveDetails != null && LeaveDetails.DateFrom !=null ? Convert.ToDateTime(LeaveDetails.DateFrom).ToString("dd-MMM-yyyy") : "")" @(LeaveDetails != null && LeaveDetails.LeaveStatus != null ? "disabled" : "")>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label>@SharedLocalizer.GetLocalizedHtmlString("Date To")</label>
                        <input type="text" id="DateTo" name="DateTo" required class="form-control DatePicker" value="@(LeaveDetails != null && LeaveDetails.DateTo !=null ? Convert.ToDateTime(LeaveDetails.DateTo).ToString("dd-MMM-yyyy") : "")" @(LeaveDetails != null && LeaveDetails.LeaveStatus != null ? "disabled" : "")>
                    </div>
                </div>
                @*<div class="col-sm-2">
                        <div class="form-group">
                            <label>@SharedLocalizer.GetLocalizedHtmlString("Resume Date")</label>
                            <input type="text" id="ResumeDate" name="ResumeDate" class="form-control DatePicker" value="@(LeaveDetails != null && LeaveDetails.ResumeDate !=null ? Convert.ToDateTime(LeaveDetails.DateTo).ToString("dd-MMM-yyyy") : "")" @(LeaveDetails != null && LeaveDetails.LeaveStatus != null ? "disabled" : "")>
                        </div>
                    </div>*@
                <div class="col-sm-2">
                    <div class="form-group">
                        <label>@SharedLocalizer.GetLocalizedHtmlString("Paid Days")</label>
                        <input type="number" id="PaidDays" required name="PaidDays" class="form-control" readonly value="@(LeaveDetails!=null?LeaveDetails.PaidDays: 0)" @(LeaveDetails != null && LeaveDetails.LeaveStatus != null ? "disabled" : "")>
                    </div>
                </div>
                @*<div class="col-sm-2">
                        <div class="form-group">
                            <label>@SharedLocalizer.GetLocalizedHtmlString("Unpaid Days")</label>
                            <input type="number" id="UnpaidDays" name="UnpaidDays" class="form-control" value="@(LeaveDetails!=null?LeaveDetails.UnpaidDays: 0)" @(LeaveDetails != null && LeaveDetails.LeaveStatus != null ? "disabled" : "")>
                        </div>
                    </div>*@


                <div class="col-sm-2">
                    <div class="form-group">
                        <label>@SharedLocalizer.GetLocalizedHtmlString("Bal Days Before")</label>
                        <input type="number" readonly step="any" id="BalDaysBefore" name="BalDaysBefore" class="form-control" value="@(LeaveDetails!=null?LeaveDetails.BalDaysBefore: 0)" @(LeaveDetails != null && LeaveDetails.LeaveStatus != null ? "disabled" : "")>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label>@SharedLocalizer.GetLocalizedHtmlString("Bal Days After")</label>
                        <input type="number" step="any" id="BalDaysAfter" name="BalDaysAfter" class="form-control" readonly value="@(LeaveDetails!=null?LeaveDetails.BalDaysAfter: 0)" @(LeaveDetails != null && LeaveDetails.LeaveStatus != null ? "disabled" : "")>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label>@SharedLocalizer.GetLocalizedHtmlString("Substitute")</label>
                        <select id="Substitute" name="Substitute" class="form-control" required @(LeaveDetails != null && LeaveDetails.LeaveStatus != null ? "disabled" : "")>
                            <option></option>
                            @foreach (var item in empList)
                            {
                                <option value="@item.EmpId" @(LeaveDetails != null && LeaveDetails.Substitute == item.EmpId ? "selected" : "")>
                                    @(item.FirstNameEn + " " + item.FatherNameEn + " " + item.GrandNameEn + " " + item.FamilyNameEn)
                                </option>
                            }
                        </select>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group" @(LeaveDetails != null && LeaveDetails.LeaveStatus != null ? "" : "hidden")>
                        <label>@SharedLocalizer.GetLocalizedHtmlString("Approval Status")</label>
                        <input type="text" readonly id="LeaveStatus" name="LeaveStatus" class="form-control" value="@(LeaveDetails!=null?leaveStatusList.Where(x=>x.Code == LeaveDetails.LeaveStatus).Select(x=>x.LookupNameEn).FirstOrDefault(): "")">
                    </div>
                </div>

                <div class="col-md-12">
                    <hr>
                </div>
                <div class="col-md-12 card-header">
                    <label>@SharedLocalizer.GetLocalizedHtmlString("Reason")</label>
                    <textarea @(LeaveDetails != null && LeaveDetails.LeaveStatus != null ? "disabled" : "") required id="Reason" rows="4" name="Reason"
                              style="width: 100%; height: 80px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;">@(LeaveDetails != null? LeaveDetails.Reason : "")</textarea>
                </div>
                <div class="col-md-12">
                    <hr>
                </div>

                <div class="col-sm-4">
                    <div class="form-group">
                        <label>@SharedLocalizer.GetLocalizedHtmlString("Attachment Type")</label>
                        <select id="AttachmentType" name="AttachmentType" class="form-control" @(LeaveDetails != null && LeaveDetails.LeaveStatus != null ? "disabled" : "")>
                            <option></option>
                            @foreach (var item in attachmentTypeList)
                            {
                                <option value="@item.Code" @(LeaveDetails != null && LeaveDetails.AttachmentType == item.Code ? "selected" : "")>
                                    @item.LookupNameEn
                                </option>
                            }
                        </select>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label>@SharedLocalizer.GetLocalizedHtmlString("Attachment")</label>
                        @if (LeaveDetails != null && LeaveDetails.Attachment != null)
                        {
                            <a href="~/Files/@LeaveDetails.Attachment" download="">@SharedLocalizer.GetLocalizedHtmlString("DownloadPDF")</a>
                            <input type="text" hidden value="@(LeaveDetails!=null?LeaveDetails.Attachment: "")" id="Attachment" name="Attachment" class="form-control">
                        }
                        else
                        {
                            <input @(LeaveDetails != null && LeaveDetails.LeaveStatus != null ? "disabled" : "") type="file" id="AttachmentFile" name="AttachmentFile" class="form-control">
                        }

                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label>@SharedLocalizer.GetLocalizedHtmlString("Air Ticket")</label>
                        <select id="AirTicket" name="AirTicket" required class="form-control" @(LeaveDetails != null && LeaveDetails.LeaveStatus != null ? "disabled" : "")>
                            @*<option></option>*@
                            <option value="True" @(LeaveDetails != null && LeaveDetails.AirTicket == true ? "selected" : "")>Yes</option>
                            <option value="False" @(LeaveDetails != null && LeaveDetails.AirTicket == false ? "selected" : "")>No</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>

    </div>


    <div class="card card-default card-outline col-lg-10" style="display:none">

        <div class="card-header">
            <h2 class="card-title">
                @SharedLocalizer.GetLocalizedHtmlString("Organization Details")
            </h2>

        </div>
        <div class="card-body">

            <div class="row">


                <div class="col-sm-6 ">
                    <div class="form-group">
                        <label>@SharedLocalizer.GetLocalizedHtmlString("Company")</label>
                        <select id="CompanyId" name="CompanyId" class="form-control" @(LeaveDetails != null && LeaveDetails.LeaveStatus != null ? "disabled" : "")>
                            <option selected></option>
                            @foreach (var item in companyList)
                            {
                                <option value="@item.CompanyId" @(LeaveDetails != null && LeaveDetails.CompanyId == item.CompanyId ? "selected" : "")>
                                    @item.CoNameEn
                                </option>
                            }
                        </select>
                    </div>
                </div>
                <div class="col-sm-6 ">
                    <div class="form-group">
                        <label>@SharedLocalizer.GetLocalizedHtmlString("Branch")</label>
                        <select id="BranchId" name="BranchId" class="form-control" @(LeaveDetails != null && LeaveDetails.LeaveStatus != null ? "disabled" : "")>
                            <option selected></option>
                            @foreach (var item in branchList)
                            {
                                <option value="@item.BranchId" @(LeaveDetails != null && LeaveDetails.BranchId == item.BranchId ? "selected" : "")>
                                    @item.BranchNameEn
                                </option>
                            }
                        </select>
                    </div>
                </div>
            </div>
        </div>

    </div>
</form>

@section scripts{

    <script>

        $(function () {


        });
        var applicationName = getApplicationName();

        $('#DateFrom').change(function () {
            //calculateLeaveBalance();
            var DateFrom = $('#DateFrom').val();
            var DateTo = $('#DateTo').val();
            DateFrom = new Date(DateFrom);
            DateTo = new Date(DateTo);
            var Difference_In_Days = DateTo.getTime() - DateFrom.getTime();
            Difference_In_Days = parseInt((Difference_In_Days) / (1000 * 3600 * 24));
            $('#PaidDays').val(Difference_In_Days + 1);

            if (DateTo < DateFrom) {
                showMsg("Date To cannot be less than Date From!!");
                $('#DateFrom').val('');
                $('#PaidDays').val('');
            }
            else {

                if (Difference_In_Days + 1 > $("#BalDaysBefore").val()) {
                    showMsg("Not Enough balance left to submit the leave request.!!");
                    $('#DateFrom').val('');
                    $('#PaidDays').val('');
                    $("#BalDaysAfter").val('');
                }
                else {
                    $("#BalDaysAfter").val($("#BalDaysBefore").val() - Difference_In_Days - 1);
                }
            }

        });
        //$('#ResumeDate').change(function () {

        //    var DateFrom = $('#DateFrom').val();
        //    var ResumeDate = $('#ResumeDate').val();
        //    DateFrom = new Date(DateFrom);
        //    ResumeDate = new Date(ResumeDate);
        //    var Difference_In_Days = ResumeDate.getTime() - DateFrom.getTime();
        //    Difference_In_Days = parseInt(Difference_In_Days / (1000 * 3600 * 24));
        //    $('#PaidDays').val(Difference_In_Days);
        //});
        $('#DateTo').change(function () {
            //calculateLeaveBalance();
            var DateFrom = $('#DateFrom').val();
            var DateTo = $('#DateTo').val();
            DateFrom = new Date(DateFrom);
            DateTo = new Date(DateTo);
            var Difference_In_Days = DateTo.getTime() - DateFrom.getTime();
            Difference_In_Days = parseInt((Difference_In_Days) / (1000 * 3600 * 24));
            $('#PaidDays').val(Difference_In_Days + 1);

            if (DateTo < DateFrom) {
                showMsg("Date To cannot be less than Date From!!");
                $('#DateTo').val('');

            }
            else {
                if ($("#LeaveTypeId").val() != "032010") {
                    if (Difference_In_Days + 1 > $("#BalDaysBefore").val()) {
                        showMsg("Not Enough balance left to submit the leave request.!!");
                        $('#DateTo').val('');
                        $('#PaidDays').val('');
                        $("#BalDaysAfter").val('');
                    }
                    else {
                        $("#BalDaysAfter").val($("#BalDaysBefore").val() - Difference_In_Days - 1);
                    }
                }
                
            }

        });

        function calculateLeaveBalance() {
            var DateFrom = $('#DateFrom').val();
            var DateTo = $('#DateTo').val();
            DateFrom = new Date(DateFrom);
            DateTo = new Date(DateTo);
            var Difference_In_Days = DateTo.getTime() - DateFrom.getTime();
            Difference_In_Days = parseInt((Difference_In_Days) / (1000 * 3600 * 24));
            $('#PaidDays').val(Difference_In_Days + 1);

            if (DateTo < DateFrom) {
                showMsg("Date To cannot be less than Date From!!");
                $('#DateFrom').val('');
                $('#PaidDays').val('');
            }
            else {
                if ($("#LeaveTypeId").val() != "032010") {
                    if (Difference_In_Days + 1 > $("#BalDaysBefore").val()) {
                        showMsg("Not Enough balance left to submit the leave request.!!");
                        $('#DateTo').val('');
                        $('#PaidDays').val('');
                        $("#BalDaysAfter").val('');
                        //$("#LeaveTypeId").val(0);
                    }
                    else {
                        $("#BalDaysAfter").val($("#BalDaysBefore").val() - Difference_In_Days - 1);
                    }
                }
                
            }
        };

        $('#CompanyId').change(function () {

            var id = $('#CompanyId').val();

            $.ajax({
                url: applicationName + "Ajax/BranchCascading",
                async: false,
                type: "POST",
                data: { id: id },
                success: function (data) {

                    var item = '';

                    $.each(data.result, function (i, product) {

                        item += "<option value='" + product.branchId + "'>" + product.branchNameEn + "</option>";
                    });

                    $("#BranchId").html(item);

                }
            });

        });



        $("#LeaveTypeId").change(function () {
            var leaveTypeId = $('#LeaveTypeId').val();
            debugger;

            $.ajax({
                url: applicationName + "ESS/EmpLeaves/CalculateRemainingBalance",
                async: false,
                type: "POST",
                data: { leaveTypeId },
                success: function (data) {
                    debugger;
                    if (data != null && data.remainingLeaves != "" && data.remainingLeaves > 0) {

                        $("#BalDaysBefore").val(data.remainingLeaves);
                        $("#BalDaysAfter").val($(data.remainingLeaves - $("#PaidDays")).val());

                        calculateLeaveBalance();
                    }

                    else {
                        if (leaveTypeId != "032010") {
                            showMsg("There is no remaining balance for this leave. Please select Unpaid Leaves or any Other Leave Type!");

                        } else {
                            $("#BalDaysBefore").val('');
                            $("#BalDaysAfter").val('');
                        }
                    }
                }
            });

        });


        $('#postBtn').click(function () {


            confirmAction('Confirm ?', 'Are you sure you want to Post  ?', 'info', 'Yes', 'No').then(function (result) {
                if (result.value == true) {
                    var id = $('#LeaveId').val();

                    $.ajax({
                        url: applicationName + "ESS/EmpLeaves/Post",
                        async: false,
                        type: "POST",
                        data: { id: id },
                        success: function (data) {
                            if (data.result.isError != true) {
                                showMsg('Saved !', 'Record has been Posted !', 'success');
                                setTimeout(function () {
                                    debugger;
                                    var id = data.result.scalerVal;
                                    window.location = applicationName + 'ESS/EmpLeaves/view?id=' + id;
                                }, 500);
                            }
                            else if (data.result.msg != '') {
                                showMsg('Save Failed !', data.result.msg, 'error');
                            }
                            else {
                                showMsg('Save Failed !', 'Something went wrong. Try again', 'error');
                            }
                        }
                    });

                }
            });




        });

        $('#frmEdit').on('submit', function (e) {
            e.preventDefault();
            var actionType = $('#ACTION_TYPE').val();

            confirmAction('Confirm ?', 'Are you sure you want to save changes ?', 'info', 'Yes', 'No').then(function (result) {
                if (result.value == true) {
                    debugger;
                    var params = $('#frmEdit').serialize();
                    var formEl = document.forms.frmEdit;
                    var formData = new FormData(formEl);
                    $.ajax({
                        url: applicationName + "ESS/EmpLeaves/" + actionType,
                        type: "POST",
                        data: formData ? formData : params,
                        async: false,
                        cache: false,
                        contentType: false,
                        processData: false,
                        success: function (data) {
                            if (data.result.isError != true) {
                                showMsg('Saved !', 'Record has been saved !', 'success');
                                setTimeout(function () {
                                    window.location = applicationName + 'ESS/EmpLeaves';
                                }, 500);
                            }
                            else if (data.result.msg != '') {
                                showMsg('Save Failed !', data.result.msg, 'error');
                            }
                            else {
                                showMsg('Save Failed !', 'Something went wrong. Try again', 'error');
                            }
                        }
                    });
                }
            });




        });

        $('#previewBtn').click(function () {
            var id = $('#LeaveId').val();

            $.ajax({
                url: applicationName + "ESS/Leave/Preview",
                async: false,
                type: "POST",
                data: { id: id },
                success: function (data) {
                    var displayDAta = "<table id='tblLines' class='table table-bordered margin-0 table-condensed'><thead><tr class='text-center' style='background-color:#DBEFEF'><th>Sequence</th><th>Approver</th><th>Comments</th><th>Status</th></tr></thead><tbody>";
                    $.each(data.result.scalerVal, function (key, value) {

                        displayDAta += "<tr><td>" + value.seqId + "</td><td>" + value.userName + "</td><td class='text-right '>" + value.comments + " </td><td class='text-right'>";

                        if (value.status == "Pending") {
                            displayDAta += "<label class='badge badge-warning right'>" + value.status + "</label></td></tr>";
                        }
                        else if (value.status == "Rejected") {
                            displayDAta += "<label class='badge badge-danger right'>" + value.status + "</label></td></tr>";
                        }
                        else {
                            displayDAta += "<label class='badge badge-success right'>" + value.status + "</label></td></tr>";
                        }

                    });
                    displayDAta += "</tbody > </table >";
                    $('#generalModal .modal-body').html(displayDAta);
                    $('#generalModal').modal('show');
                    $('#generalModal .modal-title').html('Details');
                }
            });

        });

        $('#btnEmpSearch').click(function () {


            confirmAction('Confirm ?', 'Are you sure you want to Search  ?', 'info', 'Yes', 'No').then(function (result) {
                if (result.value == true) {
                    var empCode = $('#empCode').val();

                    $.ajax({
                        url: applicationName + "Ajax/GetEmployee",
                        async: false,
                        type: "POST",
                        data: { empCode: empCode },
                        success: function (data) {
                            if (data.result != "" && data.result != "contract") {
                                debugger;
                                var displayDAta = "<div class='row' id='empDetail' ><div class='col-sm-4'><div id='DP' style='top: 58px;' class='widget-user-image'><img style=' margin-bottom: 6px; height:155px' id='profilePic' class='img-circle elevation-2'  src='https://www.w3schools.com/html/pic_trulli.jpg' /></div></div><div class='col-sm-8'><div class='row'><div class='col-sm-6'><div class='form-group'><label>Name</label><input type='text'  class='form-control' value='" + data.result.empName + "' disabled></div></div><div class='col-sm-6'><div class='form-group'><label>Title</label><input type='text' class='form-control' value='" + data.result.jobTitle + "' disabled></div></div><div class='col-sm-6'><div class='form-group'><label>Department</label><input type='text'  class='form-control' value='" + data.result.departMent + "' disabled></div></div><div class='col-sm-6'><div class='form-group'><label>Joining Date</label><input type='text' class='form-control' value='" + data.result.joiningDate + "' disabled></div></div></div></div></div>"

                                $('#searchEmpCardBody').show();
                                $('#searchEmpCardBody').html(displayDAta);

                                $("#EmpId option").each(function () {
                                    var empId = $(this).val();
                                    if (empId == data.result.empId) {
                                        $(this).prop('selected', true);
                                    }
                                });


                            }
                            else if (data.result == "contract") {
                                showMsg("Fill in Contract first!");
                            }
                            else {
                                showMsg("No Employee for this code found , Please try again!");
                            }



                        }
                    });

                }
            });




        });


    </script>

}