@using ErpOnClick.ErpMain.Resources
@inject LocService SharedLocalizer

@using ErpOnClick.DAL.Models
@{
    List<Company> companyServices = Model.companyService;
}
<div class="card card-default card-outline">

    <div class="card-header">
        <h2 class="card-title">
            @SharedLocalizer.GetLocalizedHtmlString("HumanResource Structure")
        </h2>
        <div class="card-tools">
            <a href="~/HumanResource/divisions" type="button" class="btn  btn-sm btn-primary">
                <i class="fas fa-plus"></i> @SharedLocalizer.GetLocalizedHtmlString("Manage")
            </a>
        </div>
    </div>




    <div class="card-body">
        <div class="row">
            <div class="col-md-12">
                <div class="tree">
                    <ul>

                        @foreach (var co in companyServices)
                        {
                            <li>
                                <a href="#">

                                    <div class="container-fluid">
                                        <div class="row">
                                            @co.CoNameEn
                                        </div>

                                    </div>
                                </a>
                                @if (co.Branch.Count() > 0)
                                {

                                    <ul>
                                        @foreach (var br in co.Branch)
                                        {
                                            <li>
                                                <a href="#">
                                                    <div class="container-fluid">
                                                        <div class="row">
                                                            @br.BranchNameEn
                                                        </div>
                                                    </div>
                                                </a>


                                                @if (br.Divisions.Count() > 0)
                                                {

                                                    <ul>
                                                        @foreach (var d in br.Divisions)
                                                        {
                                                            <li>
                                                                <a href="#">
                                                                    <div class="container-fluid">
                                                                        <div class="row">
                                                                            @d.DivisionNameEn
                                                                        </div>
                                                                    </div>
                                                                </a>


                                                                @if (d.Departments.Count() > 0)
                                                                {

                                                                    <ul>
                                                                        @foreach (var dp in d.Departments)
                                                                        {
                                                                            <li>
                                                                                <a href="#">
                                                                                    <div class="container-fluid">
                                                                                        <div class="row">
                                                                                            @dp.DepartmentNameEn
                                                                                        </div>
                                                                                    </div>
                                                                                </a>

                                                                                <!-- Sections | Begin -->
                                                                                @if (dp.Sections.Count() > 0)
                                                                                {

                                                                                    <ul>
                                                                                        @foreach (var sc in dp.Sections)
                                                                                        {
                                                                                            <li>
                                                                                                <a href="#">
                                                                                                    <div class="container-fluid">
                                                                                                        <div class="row">
                                                                                                            @sc.SectionNameEn
                                                                                                        </div>
                                                                                                    </div>
                                                                                                </a>

                                                                                                <!-- Sub Sections | Begin -->
                                                                                                @if (sc.SubSections.Count() > 0)
                                                                                                {

                                                                                                    <ul>
                                                                                                        @foreach (var ss in sc.SubSections)
                                                                                                        {
                                                                                                            <li>
                                                                                                                <a href="#">
                                                                                                                    <div class="container-fluid">
                                                                                                                        <div class="row">
                                                                                                                            @ss.SubSectionNameEn
                                                                                                                        </div>
                                                                                                                    </div>
                                                                                                                </a>

                                                                                                                <!-- Units | Begin -->
                                                                                                                @if (ss.Units.Count() > 0)
                                                                                                                {

                                                                                                                    <ul>
                                                                                                                        @foreach (var un in ss.Units)
                                                                                                                        {
                                                                                                                            <li>
                                                                                                                                <a href="#">
                                                                                                                                    <div class="container-fluid">
                                                                                                                                        <div class="row">
                                                                                                                                            @un.UnitNameEn
                                                                                                                                        </div>
                                                                                                                                    </div>
                                                                                                                                </a>

                                                                                                                                <!-- Teams | Begin -->
                                                                                                                                @if (un.Teams.Count() > 0)
                                                                                                                                {

                                                                                                                                    <ul>
                                                                                                                                        @foreach (var tm in un.Teams)
                                                                                                                                        {
                                                                                                                                            <li>
                                                                                                                                                <a href="#">
                                                                                                                                                    <div class="container-fluid">
                                                                                                                                                        <div class="row">
                                                                                                                                                            @tm.TeamEn
                                                                                                                                                        </div>
                                                                                                                                                    </div>
                                                                                                                                                </a>
                                                                                                                                            </li>
                                                                                                                                        }
                                                                                                                                    </ul>

                                                                                                                                }
                                                                                                                                <!-- Teams | End -->
                                                                                                                            </li>
                                                                                                                        }
                                                                                                                    </ul>

                                                                                                                }
                                                                                                                <!-- Units | End -->

                                                                                                            </li>
                                                                                                        }
                                                                                                    </ul>

                                                                                                }
                                                                                                <!-- Sub Sections | End -->


                                                                                            </li>
                                                                                        }
                                                                                    </ul>

                                                                                }
                                                                                <!-- Sections | End -->




                                                                            </li>
                                                                        }
                                                                    </ul>

                                                                }


                                                            </li>
                                                        }
                                                    </ul>

                                                }
                                            </li>
                                        }
                                    </ul>

                                }
                            </li>
                        }

                        @*<li>
                                <a href="#">

                                    <div class="container-fluid">
                                        <div class="row">
                                            Top level
                                        </div>

                                    </div>

                                </a>
                                <ul>
                                    <li>
                                        <a href="#">
                                            <div class="container-fluid">
                                                <div class="row">
                                                    Customer
                                                </div>
                                            </div>

                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <div class="container-fluid">
                                                <div class="row">
                                                    Customer
                                                </div>
                                            </div>

                                        </a>
                                    </li>

                                </ul>
                            </li>*@
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>


<style>
    /*#region Organizational Chart*/
    .tree * {
        margin: 0;
        padding: 0;
    }

    .tree ul {
        padding-top: 20px;
        position: relative;
        -transition: all 0.5s;
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
    }

    .tree li {
        float: left;
        text-align: center;
        list-style-type: none;
        position: relative;
        padding: 20px 5px 0 5px;
        -transition: all 0.5s;
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
    }

        /*We will use ::before and ::after to draw the connectors*/

        .tree li::before, .tree li::after {
            content: '';
            position: absolute;
            top: 0;
            right: 50%;
            border-top: 2px solid #86cac9;
            width: 50%;
            height: 20px;
        }

        .tree li::after {
            right: auto;
            left: 50%;
            border-left: 2px solid #86cac9;
        }

        /*We need to remove left-right connectors from elements without
    any siblings*/
        .tree li:only-child::after, .tree li:only-child::before {
            display: none;
        }

        /*Remove space from the top of single children*/
        .tree li:only-child {
            padding-top: 0;
        }

        /*Remove left connector from first child and
    right connector from last child*/
        .tree li:first-child::before, .tree li:last-child::after {
            border: 0 none;
        }
        /*Adding back the vertical connector to the last nodes*/
        .tree li:last-child::before {
            border-right: 2px solid #86cac9;
            border-radius: 0 5px 0 0;
            -webkit-border-radius: 0 5px 0 0;
            -moz-border-radius: 0 5px 0 0;
        }

        .tree li:first-child::after {
            border-radius: 5px 0 0 0;
            -webkit-border-radius: 5px 0 0 0;
            -moz-border-radius: 5px 0 0 0;
        }

    /*Time to add downward connectors from parents*/
    .tree ul ul::before {
        content: '';
        position: absolute;
        top: 0;
        left: 50%;
        border-left: 2px solid #86cac9;
        width: 0;
        height: 20px;
    }

    .tree li a {
        /* height: 100px; */
        /* width: 200px; */
        padding: 10px;
        text-decoration: none;
        background-color: #dbefef;
        color: #323232 !important;
        font-family: arial;
        font-size: 12px;
        display: inline-block;
        box-shadow: 0 1px 2px rgba(0,0,0,0.1);
        transition: all 0.5s;
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        text-align: center;
        font-weight: bold;
        letter-spacing: 1px;
        border-radius: 5px;
        border-bottom: 2px solid silver;
    }
        /*Time for some hover effects*/
        /*We will apply the hover effect the the lineage of the element also*/
        .tree li a:hover, .tree li a:hover + ul li a {
            background: #cbcbcb;
            color: #000;
        }
            /*Connector styles on hover*/
            .tree li a:hover + ul li::after,
            .tree li a:hover + ul li::before,
            .tree li a:hover + ul::before,
            .tree li a:hover + ul ul::before {
                border-color: #94a0b4;
            }
    /*#endregion*/
</style>