@using ErpOnClick.ErpMain.Resources
@inject LocService SharedLocalizer

@using ErpOnClick.DAL.Models
@{


    IList<Branch> branchList = Model.branchList;
    IList<Company> companyList = Model.companyList;
    IList<Divisions> divisionList = Model.divisionList;
    IList<Departments> departmentList = Model.departmentList;
    var divisionId = Model.divisionId;
    Divisions divisionDetails = Model.divisionDetails;
    IList<Emp> EmpList = Model.EmpList;


    Sections SectionsDetails = Model.SectionDetails;
    bool isEdit = (SectionsDetails != null);
}



<form id="frmEdit" role="form" enctype="multipart/form-data">
    <input type="hidden" id="ACTION_TYPE" name="ACTION_TYPE" value="@(isEdit ? "update" : "save")" />
    <input type="hidden" id="SectionId" name="SectionId" class="form-control" value="@(SectionsDetails != null ? SectionsDetails.SectionId : 0)" @(isEdit ? "readonly" : "") min="3" maxlength="3">
    <input type="hidden" id="CompanyId" name="CompanyId" class="form-control" value="@(SectionsDetails != null ? SectionsDetails.CompanyId : 0)">
    <input type="hidden" id="BranchId" name="BranchId" class="form-control" value="@(SectionsDetails != null ? SectionsDetails.BranchId : 0)">

    <div class="card card-default card-outline col-lg-8">
        <div class="card-header p-0 border-bottom-0">
            <ul class="nav nav-tabs" id="custom-content-below-tab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link" onclick="navigation('@divisionId')" href="javascript:void(0)">@SharedLocalizer.GetLocalizedHtmlString("General Info")</a>
                </li>


                @Html.Partial("/Areas/HumanResource/Views/divisions/_tabsPartial.cshtml", divisionDetails)


            </ul>
        </div>
        <div class="card-header">
            <h2 class="card-title">
                @SharedLocalizer.GetLocalizedHtmlString("Details") 
            </h2>
            <!-- tools box -->
            <div class="card-tools">
                <button type="submit" class="btn  btn-sm btn-primary">
                    <i class="fas fa-save fa-fw"></i>@SharedLocalizer.GetLocalizedHtmlString("Save") 
                </button>
                <a href="~/HumanResource/Sections/divisions/@divisionId" type="button" class="btn  btn-sm btn-default">
                    <i class="fas fa-arrow-left fa-fw"></i>@SharedLocalizer.GetLocalizedHtmlString("Return") 
                </a>
            </div>
            <!-- /. tools -->
        </div>
        <div class="card-body">

            <div class="row">
                <div class="col-sm-6" style="display:none">
                    <div class="form-group">
                        <label>@SharedLocalizer.GetLocalizedHtmlString("Company")</label>
                        <select id="CompanyId" name="CompanyId" class="form-control">
                            <option selected></option>
                            @foreach (var item in companyList)
                            {
                                <option value="@item.CompanyId" @(SectionsDetails != null && SectionsDetails.CompanyId == item.CompanyId ? "selected" : "")>
                                    @item.CoNameEn
                                </option>
                            }
                        </select>
                    </div>
                </div>
                <div class="col-sm-6" style="display:none">
                    <div class="form-group">
                        <label>@SharedLocalizer.GetLocalizedHtmlString("Branch")</label>
                        <select id="BranchId" name="BranchId" class="form-control">
                            <option selected></option>
                            @foreach (var item in branchList)
                            {
                                <option value="@item.BranchId" @(SectionsDetails != null && SectionsDetails.BranchId == item.BranchId ? "selected" : "")>
                                    @item.BranchNameEn
                                </option>
                            }
                        </select>
                    </div>
                </div>
                <div class="col-sm-6 ">
                    <div class="form-group">
                        <label>@SharedLocalizer.GetLocalizedHtmlString("Divisions")</label>
                        <select id="DivisionId" name="DivisionId" class="form-control" required>
                            <option></option>
                            @foreach (var item in divisionList)
                            {
                                <option value="@item.DivisionId" @(SectionsDetails != null && SectionsDetails.DivisionId == item.DivisionId ? "selected" : "")>
                                    @item.DivisionNameEn
                                </option>
                            }
                        </select>
                    </div>
                </div>
                <div class="col-sm-6 ">
                    <div class="form-group">
                        <label>@SharedLocalizer.GetLocalizedHtmlString("Departments")</label>
                        <select id="DepartmentId" name="DepartmentId" class="form-control" required>
                            <option selected></option>
                            @foreach (var item in departmentList)
                            {
                                <option value="@item.DepartmentId" @(SectionsDetails != null && SectionsDetails.DepartmentId == item.DepartmentId ? "selected" : "")>
                                    @item.DepartmentNameEn
                                </option>
                            }
                        </select>
                    </div>
                </div>
                <div class="col-sm-6 ">
                    <div class="form-group">
                        <label>@SharedLocalizer.GetLocalizedHtmlString("Section Head")</label>
                        <select id="SectionHeadUid" name="SectionHeadUid" class="form-control" required>
                            <option selected></option>
                            @foreach (var item in EmpList)
                            {
                                <option value="@item.EmpId" @(SectionsDetails != null && SectionsDetails.SectionHeadUid == item.EmpId ? "selected" : "")>
                                    @(item.FirstNameEn + " " + item.FatherNameEn + " " + item.GrandNameEn + " " + item.FamilyNameEn)
                                </option>
                            }
                        </select>
                    </div>
                </div>
                <div class="col-sm-6 ">
                    <div class="form-group">
                        <label>@SharedLocalizer.GetLocalizedHtmlString("Reporting To")</label>
                        <select id="ReportingToUid" name="ReportingToUid" class="form-control" required>
                            <option selected></option>
                            @foreach (var item in EmpList)
                            {
                                <option value="@item.EmpId" @(SectionsDetails != null && SectionsDetails.ReportingToUid == item.EmpId ? "selected" : "")>
                                    @(item.FirstNameEn + " " + item.FatherNameEn + " " + item.GrandNameEn + " " + item.FamilyNameEn)
                                </option>
                            }
                        </select>
                    </div>
                </div>

            </div>
        </div>

    </div>
    <div class="card card-default card-outline col-lg-8">
        <div class="card-header">
            <h2 class="card-title">
                @SharedLocalizer.GetLocalizedHtmlString("More Details")
            </h2>
        </div>
        <div class="card-body">
            <div class="row">

                <div class="col-sm-6">
                    <div class="form-group">
                        <label>@SharedLocalizer.GetLocalizedHtmlString("Name")</label>
                        <input type="text" id="SectionNameEn" name="SectionNameEn" class="form-control" value="@(SectionsDetails!=null?SectionsDetails.SectionNameEn: null)" required autofocus>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>@SharedLocalizer.GetLocalizedHtmlString("Name Arabic")</label>
                        <input type="text" id="SectionNameAr" name="SectionNameAr" class="form-control" value="@(SectionsDetails!=null?SectionsDetails.SectionNameAr: null)">
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="form-group">
                        <label>@SharedLocalizer.GetLocalizedHtmlString("Section Code")</label>
                        <input type="text" id="SectionCode" name="SectionCode" class="form-control" value="@(SectionsDetails!=null?SectionsDetails.SectionCode: null)" required>
                    </div>
                </div>
            </div>
        </div>
    </div>

</form>





@section scripts{

    <script>
        var applicationName = getApplicationName();

        $(function () {

            $("#tabSections-tab").addClass("nav-link active");

            $('#Detail').summernote(
                {
                    height: 200,
                }
            );
        });
        $('#CompanyId').change(function () {

            var id = $('#CompanyId').val();

            $.ajax({
                url: applicationName+"Ajax/BranchCascading",
                async: false,
                type: "POST",
                data: { id: id },
                success: function (data) {

                    var item = '';

                    $.each(data.result, function (i, product) {

                        item += "<option value='" + product.branchId + "'>" + product.branchNameEn + "</option>";
                    });

                    $("#BranchId").html(item);

                }
            });

        });
        $('#DivisionId').change(function () {

            var id = $('#DivisionId').val();

            $.ajax({
                url: applicationName+ "Ajax/DepartmentCascading",
                async: false,
                type: "POST",
                data: { id: id },
                success: function (data) {

                    var item = '';

                    $.each(data.result, function (i, product) {

                        item += "<option  value='" + product.departmentId + "'>" + product.departmentNameEn + "</option>";
                    });
                    item += "<option  ></option>";
                    $("#DepartmentId").html(item);

                }
            });

        });


        $('#frmEdit').on('submit', function (e) {
            e.preventDefault();
            var actionType = $('#ACTION_TYPE').val();

            confirmAction('Confirm ?', 'Are you sure you want to save changes ?', 'info', 'Yes', 'No').then(function (result) {
                if (result.value == true) {

                    var params = $('#frmEdit').serialize();
                    var formEl = document.forms.frmEdit;
                    var formData = new FormData(formEl);


                    $.ajax({
                        url: applicationName+"HumanResource/Sections/" + actionType,
                        type: "POST",
                        data: formData ? formData : params,
                        async: false,
                        cache: false,
                        contentType: false,
                        processData: false,
                        success: function (data) {
                            if (data.result.isError != true) {
                                showMsg('Saved !', 'Record has been saved !', 'success');
                                setTimeout(function () {
                                    window.location = applicationName+'HumanResource/Sections/divisions/@divisionId';
                                }, 500);
                            }
                            else if (data.result.msg != '') {
                                showMsg('Save Failed !', data.result.msg, 'error');
                            }
                            else {
                                showMsg('Save Failed !', 'Something went wrong. Try again', 'error');
                            }
                        }
                    });
                }
            });




        });
        function navigation() {
            window.location = applicationName +'HumanResource/divisions/edit/@divisionId'
        };

    </script>

}

