@using ErpOnClick.ErpMain.Resources
@inject LocService SharedLocalizer

@using ErpOnClick.DAL.Models
@{
    var divisionId = Model.divisionId;
    Divisions divisionDetails = Model.divisionDetails;
}


@section TabName{
    Vacant jobs Setup
}



<form id="frmList">
    <input type="hidden" id="divisionId" name="divisionId" class="form-control" value="@divisionId" />

    <div class="card card-default card-outline">
        <div class="card-header p-0 border-bottom-0">
            <ul class="nav nav-tabs" id="custom-content-below-tab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link" onclick="navigation('@divisionId')" href="javascript:void(0)">@SharedLocalizer.GetLocalizedHtmlString("General Info")</a>
                </li>
                @Html.Partial("/Areas/HumanResource/Views/divisions/_tabsPartial.cshtml", divisionDetails)
            </ul>
        </div>


        <div class="card-header">
            <h2 class="card-title">
                @SharedLocalizer.GetLocalizedHtmlString("Teams")
            </h2>
            <!-- tools box -->
            <div class="card-tools">
                <a href="~/HumanResource/Teams/edit/divisions/@divisionId" type="button" class="btn  btn-sm btn-primary">
                    <i class="fas fa-plus"></i>@SharedLocalizer.GetLocalizedHtmlString("Add New") 
                </a>
            </div>
            <!-- /. tools -->
        </div>



        <div class="card-body">
            <div id="divList"></div>

        </div>
    </div>
</form>


@section scripts{
    <script>
        $(function () {
            $("#tabTeams-tab").addClass("nav-link active");
            BindGrid();
        });
        var applicationName = getApplicationName();


        function BindGrid() {



            $('#divList').html('<h5 class="margin-0"><p><i class="fa fa-spinner fa-spin fa-fw"></i> Please wait while data is loading...</p></h5>');
            $.ajax({
                url: applicationName+'HumanResource/Teams/_list',
                data: $('#frmList').serialize(),
                success: function (data) {
                    $('#divList').html(data);
                }
            })
        };
        function navigation() {
            window.location = applicationName +'HumanResource/divisions/edit/@divisionId'
        };

    </script>
}
