@using ErpOnClick.DAL.Models
@using ErpOnClick.Authorization.Models
@using ErpOnClick.Authorization.Resources
@inject LocService SharedLocalizer

@{


    IList<Branch> branchList = Model.branchList;
    IList<Company> companyList = Model.companyList;
    IList<Modules> moduleList = Model.moduleList;

    Navigations NavigationDetails = Model.NavigationDetails;
    bool isEdit = (NavigationDetails != null);
}



<form id="frmEdit" role="form">
    <input type="hidden" id="ACTION_TYPE" name="ACTION_TYPE" value="@(isEdit ? "update" : "save")" />
    <input type="hidden" id="NavigationId" name="NavigationId" class="form-control" value="@(NavigationDetails != null ? NavigationDetails.NavigationId : 0)" @(isEdit ? "readonly" : "") min="3" maxlength="3">

    <div class="card card-default card-outline col-lg-8">

        <div class="card-header">
            <h2 class="card-title">
                @SharedLocalizer.GetLocalizedHtmlString("Details")
            </h2>
            <!-- tools box -->
            <div class="card-tools">
                <button type="submit" class="btn  btn-sm btn-primary">
                    <i class="fas fa-save fa-fw"></i> @SharedLocalizer.GetLocalizedHtmlString("Save")
                </button>
                <a href="~/admin/Navigation" type="button" class="btn  btn-sm btn-default">
                    <i class="fas fa-arrow-left fa-fw"></i> @SharedLocalizer.GetLocalizedHtmlString("Return")
                </a>
            </div>
            <!-- /. tools -->
        </div>
        <div class="card-body">

            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>@SharedLocalizer.GetLocalizedHtmlString("Name")</label>
                        <input type="text" id="NavigationNameEn" name="NavigationNameEn" class="form-control" value="@(NavigationDetails!=null?NavigationDetails.NavigationNameEn: null)" required>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>@SharedLocalizer.GetLocalizedHtmlString("Name Arabic") </label>
                        <input type="text" id="NavigationNameAr" name="NavigationNameAr" class="form-control" value="@(NavigationDetails!=null?NavigationDetails.NavigationNameAr: null)">
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>@SharedLocalizer.GetLocalizedHtmlString("Code")</label>
                        <input type="text" id="NavigationNameAr" name="NavigationNameAr" class="form-control" value="@(NavigationDetails!=null?NavigationDetails.NavigationNameAr: null)">
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>@SharedLocalizer.GetLocalizedHtmlString("Display Order")</label>
                        <input type="number" id="DisplayOrder" name="DisplayOrder" class="form-control" value="@(NavigationDetails!=null?NavigationDetails.DisplayOrder: 0)">
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>@SharedLocalizer.GetLocalizedHtmlString("Url")</label>
                        <input type="text" id="NavUrl" name="NavUrl" class="form-control" value="@(NavigationDetails!=null?NavigationDetails.NavUrl: null)">
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>@SharedLocalizer.GetLocalizedHtmlString("NavIcon Css-Class")</label>
                        <input type="text" id="NavIcon" name="NavIcon" class="form-control" value="@(NavigationDetails!=null?NavigationDetails.NavIcon: null)">
                    </div>
                </div>
                @*<div class="col-sm-6">
                        <div class="form-group">
                            <label>ShowInAnotherWindow </label>
                            <input type="text" id="ShowInAnotherWindow " name="ShowInAnotherWindow " class="form-control" value="@(NavigationDetails!=null?NavigationDetails.ShowInAnotherWindow : null)" >
                        </div>
                    </div>*@



            </div>
        </div>

    </div>
    <div class="card card-default card-outline col-lg-8">
        <div class="card-header">
            <h2 class="card-title">
                @SharedLocalizer.GetLocalizedHtmlString("More Details")
            </h2>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>@SharedLocalizer.GetLocalizedHtmlString("Is-Visible")</label>
                        <select id="IsVisible" name="IsVisible" class="form-control">
                            @*<option></option>*@
                            <option value="True" @(NavigationDetails != null && NavigationDetails.IsVisible == true ? "selected" : "")>Visible</option>
                            <option value="False" @(NavigationDetails != null && NavigationDetails.IsVisible == false ? "selected" : "")>Not Visible</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>@SharedLocalizer.GetLocalizedHtmlString("Is-Disable")</label>
                        <select id="IsDisable" name="IsDisable" class="form-control">
                            @*<option></option>*@
                            <option value="True" @(NavigationDetails != null && NavigationDetails.IsDisable == true ? "selected" : "")>Disable</option>
                            <option value="False" @(NavigationDetails != null && NavigationDetails.IsDisable == false ? "selected" : "")>Not-Disable</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>@SharedLocalizer.GetLocalizedHtmlString("Has-Child")</label>
                        <select id="HasChild" name="HasChild" class="form-control">
                            @*<option></option>*@
                            <option value="True" @(NavigationDetails != null && NavigationDetails.HasChild == true ? "selected" : "")>Yes</option>
                            <option value="False" @(NavigationDetails != null && NavigationDetails.HasChild == false ? "selected" : "")>No</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-6 ">
                    <div class="form-group">
                        <label>@SharedLocalizer.GetLocalizedHtmlString("Module")</label>
                        <select id="ModuleId" name="ModuleId" class="form-control">

                            @foreach (var item in moduleList)
                            {
                                <option value="@item.ModuleId" @(NavigationDetails != null && NavigationDetails.ModuleId == item.ModuleId ? "selected" : "")>
                                    @item.ModuleNameEn
                                </option>
                            }
                        </select>
                    </div>
                </div>
                <div class="col-sm-6 ">
                    <div class="form-group">
                        <label>@SharedLocalizer.GetLocalizedHtmlString("Company")</label>
                        <select id="CompanyId" name="CompanyId" class="form-control">
                            <option></option>
                            @foreach (var item in companyList)
                            {
                                <option value="@item.CompanyId" @(NavigationDetails != null && NavigationDetails.CompanyId == item.CompanyId ? "selected" : "")>
                                    @item.CoNameEn
                                </option>
                            }
                        </select>
                    </div>
                </div>
                <div class="col-sm-6 ">
                    <div class="form-group">
                        <label>@SharedLocalizer.GetLocalizedHtmlString("Branch")</label>
                        <select id="BranchId" name="BranchId" class="form-control">
                            @if (isEdit)
                            {
                                @foreach (var item in branchList)
                                {
                                    <option value="@item.BranchId" @(NavigationDetails != null && NavigationDetails.BranchId == item.BranchId ? "selected" : "")>
                                        @item.BranchNameEn
                                    </option>
                                }
                            }
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>

</form>





@section scripts{

    <script>

        $(function () {

        });


        $('#frmEdit').on('submit', function (e) {
            e.preventDefault();
            var actionType = $('#ACTION_TYPE').val();

            confirmAction('Confirm ?', 'Are you sure you want to save changes ?', 'info', 'Yes', 'No').then(function (result) {
                if (result.value == true) {

                    var params = $('#frmEdit').serialize();                    
                    $.ajax({
                        url: getApplicationName() + "admin/Navigation/" + actionType,
                        async: false,
                        type: "POST",
                        data: params,
                        success: function (data) {
                            if (data.result.isError != true) {
                                showMsg('Saved !', 'Record has been saved !', 'success');
                                setTimeout(function () {
                                    window.location = getApplicationName() + 'admin/Navigation';
                                }, 500);
                            }
                            else if (data.result.msg != '') {
                                showMsg('Save Failed !', data.result.msg, 'error');
                            }
                            else {
                                showMsg('Save Failed !', 'Something went wrong. Try again', 'error');
                            }
                        }
                    });


                }
            });




        });


        $('#CompanyId').change(function () {
        
            var id = $('#CompanyId').val();

            $.ajax({
                url: getApplicationName() + "Ajax/BranchCascading",
                async: false,
                type: "POST",
                data: { id: id },
                success: function (data) {
        
                    var item = '';

                    $.each(data.result, function (i, product) {
                     
                        item += "<option value='" + product.branchId + "'>" + product.branchNameEn + "</option>";
                    });

                    $("#BranchId").html(item);

                }
            });

        });

    </script>

}