@using ErpOnClick.DAL.Models

@using ErpOnClick.ErpMain.Models
@using ErpOnClick.ErpMain.Resources
@inject LocService SharedLocalizer

@{
    List<AccountLedgerReportModel> listReportAccountLedger = Model.listReportAccountLedger;

}
<link href="~/css/Report.css" rel="stylesheet" />
<div class="table-responsive pb-2 ">
    <table id="dtList" class="table table-hover table-condensed " style="display:none">
        <thead class="text-sm ">
            <tr class="col-lg-12">
                <th align="center" width="100px"> @SharedLocalizer.GetLocalizedHtmlString("Date")</th>
                <th align="left"> @SharedLocalizer.GetLocalizedHtmlString("Account")</th>
                <th align="left"> @SharedLocalizer.GetLocalizedHtmlString("Voucher")</th>
                <th align="left"> @SharedLocalizer.GetLocalizedHtmlString("Account Code")</th>
                <th align="left"> @SharedLocalizer.GetLocalizedHtmlString("Description")</th>
                <th align="left"> @SharedLocalizer.GetLocalizedHtmlString("Type")</th>
                <th align="right"> @SharedLocalizer.GetLocalizedHtmlString("Debit") </th>
                <th align="right"> @SharedLocalizer.GetLocalizedHtmlString("Credit") </th>
                <th align="right"> @SharedLocalizer.GetLocalizedHtmlString("Balance")</th>

            </tr>
        </thead>
        <tfoot style="display:table-row-group">
            <tr>
                <th align="center" width="100px"> Date</th>
                <th align="left"> Account</th>
                <th align="left"> Voucher</th>
                <th align="left"> Account Code</th>
                <th align="left"> Description</th>
                <th align="left"> Type</th>
                <th align="right"> Debit </th>
                <th align="right"> Credit </th>
                <th align="right"> Balance</th>

            </tr>
        </tfoot>
        <tbody>

            @foreach (var item in listReportAccountLedger)
            {
                <tr class="text-center">
                    <td align="center" width="100px"> @(item.CreatedDate != null ? Convert.ToDateTime(item.CreatedDate).ToString("dd-MMM-yyyy") : "-") </td>
                    <td align="left"> @(item.Account != null ? item.Account : "-") </td>
                    <td align="center">
                        @if (item.Voucher != 0)
                        {
                            <a href='@Url.Content("~/")Finance/Vouchers/Edit/@item.Voucher'>@item.Voucher</a>
                        }
                    </td>

                    <td align="left"> @(item.AccountCode != null ? item.AccountCode : "-") </td>
                    <td align="center"> @(item.Description != null ? item.Description : "-") </td>
                    <td align="center"> @(item.Type != null ? item.Type : "-") </td>
                    <td align="right"> @(item.Debit != 0 ? String.Format("{0:.00}",item.Debit) : "0") </td>
                    <td align="right"> @(item.Credit != 0 ? String.Format("{0:.00}",item.Credit) : "0") </td>
                    <td align="right"> @(item.Balance != 0 ? String.Format("{0:.00}",item.Balance) : "0") </td>
                </tr>
            }

        </tbody>
        <tfoot>
            <tr style="background-color:#fff6ea" class="text-center">
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td align="right">Total</td>
                <td align="right">@(String.Format("{0:.00}", listReportAccountLedger.Sum(x => x.Debit)))</td>
                <td align="right">@(String.Format("{0:.00}", listReportAccountLedger.Sum(x => x.Credit)))</td>
                <td align="right"></td>
            </tr>
        </tfoot>
    </table>
</div>


<script>
    $(function () {
        $('#Accli').addClass("menu-open");
        $('#Reportsli').addClass("menu-open");
        $('#Statementsli').removeClass("menu-open");
        $('#AccRli').removeClass("menu-open");
        $('#AccPli').removeClass("menu-open");
        $('#Setupli').removeClass("menu-open");

        _initDatatable('#dtList');
        $("#dtList").fadeIn(500);

    });
</script>