@using ErpOnClick.DAL.Models
@using ErpOnClick.ErpMain.Resources
@inject LocService SharedLocalizer

@{
    List<Accounts> accountsList = Model.accountsList;
}



<div class="card card-default card-outline">

    <div class="card-header">
        <h2 class="card-title">
            @SharedLocalizer.GetLocalizedHtmlString("ACCOUNT LEDGER")
        </h2>
        <!-- tools box -->
        <div class="card-tools">
            <a id="printList" href="" target="_blank" class="btn btn-default btn-sm"><i class="fa fa-print fa-fw"></i>@SharedLocalizer.GetLocalizedHtmlString("Print")</a>


        </div>
        <!-- /. tools -->
    </div>
    <div class="card-footer pb-0 pt-2 text-sm">
        <form id="frmSearch">
            <div class="row">


                <div class="col-sm-3">
                    <div class="form-group">
                        <label>@SharedLocalizer.GetLocalizedHtmlString("From Date") </label>
                        <input type="text" id="FromDate" name="FromDate" class="form-control DatePicker">
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label>@SharedLocalizer.GetLocalizedHtmlString("To Date")</label>
                        <input type="text" id="ToDate" name="ToDate" class="form-control DatePicker">
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group ">
                        <label>@SharedLocalizer.GetLocalizedHtmlString("Account")</label>
                        <select name="AccountId" id="AccountId" class="form-control" required>
                            <option value="" disabled selected ></option>
                            @foreach (var head in accountsList.Where(c => c.AccountLevel == 1))
                            {
                                <option class="bg-gray" disabled value="@head.AccountId" >@head.AccountNameEn </option>
                                foreach (var subhead in accountsList.Where(c => c.AccountLevel == 2 && c.AccountCode.Substring(0, 1) == head.AccountCode))
                                {
                                    <option class="bg-gray" disabled value="@subhead.AccountId" >--@subhead.AccountNameEn </option>

                                    foreach (var subsubhead in accountsList.Where(c => c.AccountLevel == 3 && c.AccountCode.Substring(0, 2) == subhead.AccountCode))
                                    {
                                        <option class="bg-gray" disabled value="@subsubhead.AccountId" >----@subsubhead.AccountNameEn</option>
                                        foreach (var lowerhead in accountsList.Where(c => c.AccountLevel == 4 && c.AccountCode.Substring(0, 4) == subsubhead.AccountCode))
                                        {
                                            <option class="bg-gray" disabled value="@lowerhead.AccountId" >------@lowerhead.AccountNameEn</option>
                                            foreach (var transactionable in accountsList.Where(c => c.AccountLevel == 5 && c.AccountCode.Substring(0, 6) == lowerhead.AccountCode))
                                            {
                                                <option value="@transactionable.AccountId" >--------@transactionable.AccountNameEn</option>
                                            }
                                        }
                                    }
                                }
                            }
                        </select>
                    </div>
                </div>
                <div class="col-sm-1">
                    <button style="margin-top:29px" type="submit" class="btn btn-primary btn-block"> @SharedLocalizer.GetLocalizedHtmlString("Search")</button>
                </div>
            </div>
        </form>
    </div>
    <div class="card-body">
        <div id="divList"></div>

    </div>
</div>


@section scripts{
    <script>
        $(function () {
            $('#Accli').addClass("menu-open");
            $('#Reportsli').addClass("menu-open");
            $('#Statementsli').removeClass("menu-open");
            $('#AccRli').removeClass("menu-open");
            $('#AccPli').removeClass("menu-open");
            $('#Setupli').removeClass("menu-open");

            $('#printList').hide();

            var date = new Date();
            var dd = String(date.getDate()).padStart(2, '0');
            var mm = String(date.getMonth() + 1).padStart(2, '0')
            var yyyy = date.getFullYear();
            var premonth = parseInt(mm) - 1;
            var start = yyyy + '-' + mm + '-' + '01';
            today = yyyy + '-' + mm + '-' + dd;
            $('#FromDate').val(start);
            $('#ToDate').val(today);


            $('#frmSearch').submit(function (e) {

                e.preventDefault();
                BindGrid();
            })

        });

        function BindGrid() {

            $('#divList').html('<h5 class="margin-0"><p><i class="fa fa-spinner fa-spin fa-fw"></i> Please wait while data is loading...</p></h5>');
            $.ajax({
                url: getApplicationName() + 'Finance/AccountLedger/_list',
                data: $('#frmSearch').serialize(),
                success: function (data) {
                    $('#printList').show();

                    $('#divList').html(data);
                }
            })
        }

        $('#printList').click(function (e) {
            var FromDate = $('#FromDate').val();
            var ToDate = $('#ToDate').val();
            var AccountId = $('#AccountId').val();
            window.open(getApplicationName() + "Finance/AccountLedger/PrintList?FromDate=" + FromDate + "&ToDate=" + ToDate + "&AccountId=" + AccountId, "_blank");
        });
    </script>
}

