
@using ErpOnClick.ErpMain.Resources
@inject LocService SharedLocalizer
@using ErpOnClick.DAL.Models
@{


    IList<Branch> branchList = Model.branchList;
    IList<Company> companyList = Model.companyList;
    IList<Privileges> privilagesList = Model.privilagesList;
    IList<Users> userList = Model.userList;

    UserPrivileges UserPrivilegeDetails = Model.UserPrivilegesDetails;
    var userId = Model.userId;
    Users userDetails = Model.userDetails;



    bool isEdit = (UserPrivilegeDetails != null);
}




<form id="frmEdit" role="form" enctype="multipart/form-data">
    <input type="hidden" id="ACTION_TYPE" name="ACTION_TYPE" value="@(isEdit ? "update" : "save")" />
    <input type="hidden" id="UserPrivilegeId" name="UserPrivilegeId" class="form-control" value="@(UserPrivilegeDetails != null ? UserPrivilegeDetails.UserPrivilegeId : 0)" @(isEdit ? "readonly" : "") min="3" maxlength="3">

    <div class="card card-default card-outline col-lg-8">
        <div class="card-header p-0 border-bottom-0">
            <ul class="nav nav-tabs" id="custom-content-below-tab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link" onclick="navigation()" href="javascript:void(0)">@SharedLocalizer.GetLocalizedHtmlString("user")</a>
                </li>


                <li class="nav-item">
                    <a class="nav-link" id="tabUserPrivileges-tab" data-toggle="pill" onclick="navigationTwo()" href="javascript:void(0)">@SharedLocalizer.GetLocalizedHtmlString("User Privilage")</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="tabUserRole-tab" data-toggle="pill" onclick="navigationThree()" href="javascript:void(0)">@SharedLocalizer.GetLocalizedHtmlString("User Roles")</a>
                </li>

            </ul>
        </div>
        <div class="card-header">
            <h2 class="card-title">
                @SharedLocalizer.GetLocalizedHtmlString("Details") 
            </h2>
            <!-- tools box -->
            <div class="card-tools">
                <button type="submit" class="btn  btn-sm btn-primary">
                    <i class="fas fa-save fa-fw"></i> @SharedLocalizer.GetLocalizedHtmlString("Save")
                </button>
                <a href="~/Security/userprivileges/user/@userId" type="button" class="btn  btn-sm btn-default">
                    <i class="fas fa-arrow-left fa-fw"></i>@SharedLocalizer.GetLocalizedHtmlString("Return") 
                </a>
            </div>
            <!-- /. tools -->
        </div>
        <div class="card-body">

            <div class="row">


                <div class="col-sm-6 ">
                    <div class="form-group">
                        <label>@SharedLocalizer.GetLocalizedHtmlString("Privileges")</label>
                        <select id="PrivilegeId" name="PrivilegeId" class="form-control" required>

                            @foreach (var item in privilagesList)
                            {
                                <option value="@item.PrivilegeId" @(UserPrivilegeDetails != null && UserPrivilegeDetails.PrivilegeId == item.PrivilegeId ? "selected" : "")>
                                    @item.PrivilegeNameEn
                                </option>
                            }
                        </select>
                    </div>
                </div>
                <div class="col-sm-6 ">
                    <div class="form-group">
                        <label>@SharedLocalizer.GetLocalizedHtmlString("User")</label>
                        <select id="UserId" name="UserId" class="form-control" required>

                            @foreach (var item in userList)
                            {
                                <option value="@item.UserId" @(UserPrivilegeDetails != null && UserPrivilegeDetails.UserId == item.UserId ? "selected" : "")>
                                    @item.DisplayNameEn
                                </option>
                            }
                        </select>
                    </div>
                </div>
                <div class="col-sm-6 ">
                    <div class="form-group">
                        <label>@SharedLocalizer.GetLocalizedHtmlString("Company")</label>
                        <select id="CompanyId" name="CompanyId" class="form-control" required>
                            <option></option>
                            @foreach (var item in companyList)
                            {
                                <option value="@item.CompanyId" @(UserPrivilegeDetails != null && UserPrivilegeDetails.CompanyId == item.CompanyId ? "selected" : "")>
                                    @item.CoNameEn
                                </option>
                            }
                        </select>
                    </div>
                </div>
                <div class="col-sm-6 ">
                    <div class="form-group">
                        <label>@SharedLocalizer.GetLocalizedHtmlString("Branch")</label>
                        <select id="BranchId" name="BranchId" class="form-control" required>
                            @if (isEdit)
                            {
                                @foreach (var item in branchList)
                                {
                                    <option value="@item.BranchId" @(UserPrivilegeDetails != null && UserPrivilegeDetails.BranchId == item.BranchId ? "selected" : "")>
                                        @item.BranchNameEn
                                    </option>
                                }
                            }
                        </select>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>@SharedLocalizer.GetLocalizedHtmlString("Is-Active")</label>
                        <select id="IsActive" name="IsActive" class="form-control" required>
                            @*<option></option>*@
                            <option value="True" @(UserPrivilegeDetails != null && UserPrivilegeDetails.IsActive == true ? "selected" : "")>Active</option>
                            <option value="False" @(UserPrivilegeDetails != null && UserPrivilegeDetails.IsActive == false ? "selected" : "")>Inactive</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>

    </div>


</form>






@section scripts{

    <script>

        $(function () {
            $("#tabUserPrivileges-tab").addClass("nav-link active");
        });


        $('#frmEdit').on('submit', function (e) {
            e.preventDefault();
            var actionType = $('#ACTION_TYPE').val();

            confirmAction('Confirm ?', 'Are you sure you want to save changes ?', 'info', 'Yes', 'No').then(function (result) {
                if (result.value == true) {

                    var params = $('#frmEdit').serialize();
                    $.ajax({
                        url: getApplicationName()+"Security/UserPrivileges/" + actionType,
                        async: false,
                        type: "POST",
                        data: params,
                        success: function (data) {
                            if (data.result.isError != true) {
                                showMsg('Saved !', 'Record has been saved !', 'success');
                                setTimeout(function () {
                                    window.location = getApplicationName() +'Security/UserPrivileges/user/@userId';
                                }, 500);
                            }
                            else if (data.result.msg != '') {
                                showMsg('Save Failed !', data.result.msg, 'error');
                            }
                            else {
                                showMsg('Save Failed !', 'Something went wrong. Try again', 'error');
                            }
                        }
                    });
                }
            });




        });

        $('#CompanyId').change(function () {

            var id = $('#CompanyId').val();

            $.ajax({
                url: getApplicationName()+"Ajax/BranchCascading",
                async: false,
                type: "POST",
                data: { id: id },
                success: function (data) {

                    var item = '';

                    $.each(data.result, function (i, product) {

                        item += "<option value='" + product.branchId + "'>" + product.branchNameEn + "</option>";
                    });

                    $("#BranchId").html(item);

                }
            });

        });
          function navigation() {

             window.location = getApplicationName() + 'Security/User/edit/@userId';
    };
          function navigationTwo() {

              window.location = getApplicationName() + 'Security/userprivileges/user/@userDetails.UserId';
            };
         function navigationThree() {

              window.location = getApplicationName() + 'Security/userrole/user/@userDetails.UserId';
            };
    </script>

}