@using ErpOnClick.DAL.Models
@using ErpOnClick.Authorization.Models
@using ErpOnClick.Authorization.Resources
@inject LocService SharedLocalizer

@{


    IList<Branch> branchList = Model.branchList;
    IList<Company> companyList = Model.companyList;

    Modules ModuleDetails = Model.ModuleDetails;
    bool isEdit = (ModuleDetails != null);
}



<form id="frmEdit" role="form">
    <input type="hidden" id="ACTION_TYPE" name="ACTION_TYPE" value="@(isEdit ? "update" : "save")" />
    <input type="hidden" id="ModuleId" name="ModuleId" class="form-control" value="@(ModuleDetails != null ? ModuleDetails.ModuleId : 0)" @(isEdit ? "readonly" : "") min="3" maxlength="3">

    <div class="card card-default card-outline col-lg-8">

        <div class="card-header">
            <h2 class="card-title">
                @SharedLocalizer.GetLocalizedHtmlString("Details")
            </h2>
            <!-- tools box -->
            <div class="card-tools">
                <button type="submit" class="btn  btn-sm btn-primary">
                    <i class="fas fa-save fa-fw"></i> @SharedLocalizer.GetLocalizedHtmlString("Save")
                </button>
                <a href="~/admin/Module" type="button" class="btn  btn-sm btn-default">
                    <i class="fas fa-arrow-left fa-fw"></i> @SharedLocalizer.GetLocalizedHtmlString("Return")
                </a>
            </div>
            <!-- /. tools -->
        </div>
        <div class="card-body">

            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>@SharedLocalizer.GetLocalizedHtmlString("Name")</label>
                        <input type="text" id="ModuleNameEn" name="ModuleNameEn" class="form-control" value="@(ModuleDetails!=null?ModuleDetails.ModuleNameEn: null)" required>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label> @SharedLocalizer.GetLocalizedHtmlString("Name Arabic")</label>
                        <input type="text" id="ModuleNameAr" name="ModuleNameAr" class="form-control" value="@(ModuleDetails!=null?ModuleDetails.ModuleNameAr: null)">
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>@SharedLocalizer.GetLocalizedHtmlString("Code")</label>
                        <input type="text" id="ModuleCode" name="ModuleCode" class="form-control" value="@(ModuleDetails!=null?ModuleDetails.ModuleCode: null)">
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>@SharedLocalizer.GetLocalizedHtmlString("Display Order")</label>
                        <input type="number" id="DisplayOrder" name="DisplayOrder" class="form-control" value="@(ModuleDetails!=null?ModuleDetails.DisplayOrder: 0)">
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>@SharedLocalizer.GetLocalizedHtmlString("Url")</label>
                        <input type="text" id="ModuleUrl" name="ModuleUrl" class="form-control" value="@(ModuleDetails!=null?ModuleDetails.ModuleUrl: null)">
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>@SharedLocalizer.GetLocalizedHtmlString("Icon Css-Class")</label>
                        <input type="text" id="ModuleIcon" name="ModuleIcon" class="form-control" value="@(ModuleDetails!=null?ModuleDetails.ModuleIcon: null)">
                    </div>
                </div>



            </div>
        </div>

    </div>
    <div class="card card-default card-outline col-lg-8">
        <div class="card-header">
            <h2 class="card-title">
                @SharedLocalizer.GetLocalizedHtmlString("More Details") 
            </h2>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>@SharedLocalizer.GetLocalizedHtmlString("Is-Visible")</label>
                        <select id="IsVisible" name="IsVisible" class="form-control">
                            @*<option></option>*@
                            <option value="True" @(ModuleDetails != null && ModuleDetails.IsVisible == true ? "selected" : "")>Visible</option>
                            <option value="False" @(ModuleDetails != null && ModuleDetails.IsVisible == false ? "selected" : "")>Not Visible</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>@SharedLocalizer.GetLocalizedHtmlString("Is-Disable")</label>
                        <select id="IsDisable" name="IsDisable" class="form-control">
                            @*<option></option>*@
                            <option value="True" @(ModuleDetails != null && ModuleDetails.IsDisable == true ? "selected" : "")>Disable</option>
                            <option value="False" @(ModuleDetails != null && ModuleDetails.IsDisable == false ? "selected" : "")>Not-Disable</option>
                        </select>
                    </div>
                </div>

                <div class="col-sm-6 ">
                    <div class="form-group">
                        <label>@SharedLocalizer.GetLocalizedHtmlString("Company")</label>
                        <select id="CompanyId" name="CompanyId" class="form-control">
                            <option></option>
                            @foreach (var item in companyList)
                            {
                                <option value="@item.CompanyId" @(ModuleDetails != null && ModuleDetails.CompanyId == item.CompanyId ? "selected" : "")>
                                    @item.CoNameEn
                                </option>
                            }
                        </select>
                    </div>
                </div>
                <div class="col-sm-6 ">
                    <div class="form-group">
                        <label>@SharedLocalizer.GetLocalizedHtmlString("Branch")</label>
                        <select id="BranchId" name="BranchId" class="form-control">
                            @if (isEdit)
                            {
                                @foreach (var item in branchList)
                                {
                                    <option value="@item.BranchId" @(ModuleDetails != null && ModuleDetails.BranchId == item.BranchId ? "selected" : "")>
                                        @item.BranchNameEn
                                    </option>
                                }
                            }
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>

</form>





@section scripts{

    <script>

        $(function () {

        });


        $('#frmEdit').on('submit', function (e) {
            e.preventDefault();
            var actionType = $('#ACTION_TYPE').val();

            confirmAction('Confirm ?', 'Are you sure you want to save changes ?', 'info', 'Yes', 'No').then(function (result) {
                if (result.value == true) {

                    var params = $('#frmEdit').serialize();
                    var formEl = document.forms.frmEdit;
                    var formData = new FormData(formEl);

                    $.ajax({
                        url: getApplicationName() + "admin/module/" + actionType,
                        type: "POST",
                        data: formData ? formData : params,
                        async: false,
                        cache: false,
                        contentType: false,
                        processData: false,
                        success: function (data) {
                            if (data.result.isError != true) {
                                showMsg('Saved !', 'Record has been saved !', 'success');
                                setTimeout(function () {
                                    window.location = getApplicationName() + 'admin/module';
                                }, 500);
                            }
                            else if (data.result.msg != '') {
                                showMsg('Save Failed !', data.result.msg, 'error');
                            }
                            else {
                                showMsg('Save Failed !', 'Something went wrong. Try again', 'error');
                            }
                        }
                    });


                }
            });




        });


        $('#CompanyId').change(function () {

            var id = $('#CompanyId').val();

            $.ajax({
                url: getApplicationName() + "Ajax/BranchCascading",
                async: false,
                type: "POST",
                data: { id: id },
                success: function (data) {

                    var item = '';

                    $.each(data.result, function (i, product) {

                        item += "<option value='" + product.branchId + "'>" + product.branchNameEn + "</option>";
                    });

                    $("#BranchId").html(item);

                }
            });

        });


    </script>

}