@using ErpOnClick.DAL.Models
@{
    List<Rooms> RoomList = Model.RoomList;
}
<div class="table-responsive pb-2 ">
    <table id="dtList" class="table table-hover table-condensed ">
        <thead class="text-sm">
            <tr class="col-lg-12">
                <th style="width:25px">Id</th>
                <th>Name</th>
                <th>Building</th>
                <th>Code</th>
                <th>Capacity</th>
                <th style="width:25px">Edit</th>
                <th style="width:25px">Delete</th>
            </tr>
        </thead>
        <tfoot style="display:table-row-group">
            <tr class="text-center">
                <th>Id</th>
                <th>Name</th>
                <th>Building</th>
                <th>Code</th>
                <th>Capacity</th>
                <td></td>
                <td></td>

            </tr>
        </tfoot>
        <tbody>
            @foreach (var item in RoomList)
            {

            <tr class="text-center">
                <td>@item.RoomId</td>
                <td class="text-left">@item.RoomNameEn</td>
                <td class="text-left">@item.Building.BuildingNameEn</td>
                <td>@item.RoomCode</td>
                <td>@item.RoomCapacity</td>


                <td class="text-center padding-5">
                    <a href="~/Security/Rooms/edit/@item.RoomId" class="btn btn-default btn-block  btn-xs "><i class="fa fa-edit"></i></a>
                </td>
                <td class="text-center padding-5">
                    <a href="javascript:void(0)" class="btn btn-default btn-block btn-xs " onclick="deleteItem('@item.RoomId')"><i class="fa fa-times text-danger"></i></a>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>

<script>
    $(function () {
        _initDatatable('#dtList');
    });
    
    function deleteItem(id) {
        confirmAction('Confirm ?', 'Are you sure you want to save changes ?', 'info', 'Yes', 'No').then(function (result) {
            if (result.value == true) {
                    $.ajax({
                        url: getApplicationName() +"Security/Rooms/delete",
                    async: false,
                    type: "POST",
                    data: { id },
                    success: function (data) {
                        if (data.result.isError != true) {
                            showMsg('Deleted !', 'Record has been deleted !', 'success');
                            setTimeout(function () {
                                window.location = getApplicationName() +'Security/Rooms';
                            }, 500);
                        }
                        else if (data.result.msg != '') {
                            showMsg('Delete Failed !', data.result.msg, 'error');
                        }
                        else {
                            showMsg('Delete Failed !', 'Something went wrong. Try again', 'error');
                        }
                    }
                });
            }
        });
    }
</script>