@inject Microsoft.AspNetCore.Hosting.IWebHostEnvironment hostingEnv
@using System.IO
@using ErpOnClick.DAL.Models
@using ErpOnClick.ErpMain.Resources
@using ErpOnClick.DAL.Utilities
@inject LocService SharedLocalizer
@inject Microsoft.AspNetCore.Hosting.IHostingEnvironment _env;
@model Emp;

@{
    var filePath = NativePaths.GetFilePath(_env);
    var empDetails = @Model;
}


<!--<div class="card card-default card-outline col-lg-12">
    <div class="card-header">
        <h2 class="card-title mt-1">
            @SharedLocalizer.GetLocalizedHtmlString("Personal Information")
        </h2>-->
<!-- tools box -->
<!--<div class="card-tools pr-0">
    <button type="submit" class="btn  btn-sm btn-primary">
        <i class="fas fa-save fa-fw"></i> @SharedLocalizer.GetLocalizedHtmlString("Save")
    </button>
    <a href="~/HumanResource/emp" type="button" class="btn  btn-sm btn-default">
        <i class="fas fa-arrow-left fa-fw"></i> @SharedLocalizer.GetLocalizedHtmlString("Return")
    </a>
</div>-->
<!-- /. tools -->
<!--</div>
    <div class="card-body">
        <div class="row">

            <div class="col-lg-3 padding-left-0 pl-0 text-left" style="background-repeat:no-repeat;background-size: 200px 200px;background-image:url('/adminlte/dist/img/noimage.jpg');text-align: center" onclick="uploadimg()">
                @if (empDetails != null && empDetails.ProfilePic != null)
                {
                    <img style="width:200px;height:200px" id="profilePic" class="" src="@filePath@empDetails.ProfilePic" />
                    <input type="text" hidden id="ProfilePic" name="ProfilePic" value="@(empDetails!=null?empDetails.ProfilePic: null)">
                }
                else
                {
                    <img style="width: 200px; height: 200px" id="profilePic" class="" src="/Erp/adminlte/dist/img/noimage.jpg" />
                }

            </div>
            <input type="file" hidden id="ProfilePicFile" name="ProfilePicFile" class="">

            <div class="col-lg-9">
                <div class="row">
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label>@SharedLocalizer.GetLocalizedHtmlString("First Name")</label>
                            <input type="text" id="FirstNameEn" required name="FirstNameEn" class="form-control" value="@(empDetails!=null?empDetails.FirstNameEn: null)">
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label>@SharedLocalizer.GetLocalizedHtmlString("Fathers Name") </label>
                            <input type="text" id="FatherNameEn" name="FatherNameEn" class="form-control" value="@(empDetails!=null?empDetails.FatherNameEn: null)">
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="form-group">
                            <label>@SharedLocalizer.GetLocalizedHtmlString("Grand Name")  </label>
                            <input type="text" id="GrandNameEn" name="GrandNameEn" class="form-control" value="@(empDetails!=null?empDetails.GrandNameEn: null)">
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label>@SharedLocalizer.GetLocalizedHtmlString("Family Name") </label>
                            <input type="text" id="FamilyNameEn" name="FamilyNameEn" class="form-control" value="@(empDetails!=null?empDetails.FamilyNameEn: null)">
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label>@SharedLocalizer.GetLocalizedHtmlString("First Name  (Arabic)") </label>
                            <input type="text" id="FirstNameAr" name="FirstNameAr" class="form-control" value="@(empDetails!=null?empDetails.FirstNameAr: null)">
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label>@SharedLocalizer.GetLocalizedHtmlString("Father Name (Arabic)")</label>
                            <input type="text" id="FatherNameAr" name="FatherNameAr" class="form-control" value="@(empDetails!=null?empDetails.FatherNameAr: null)">
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label>@SharedLocalizer.GetLocalizedHtmlString("Grand Name (Arabic)")</label>
                            <input type="text" id="GrandNameAr" name="GrandNameAr" class="form-control" value="@(empDetails!=null?empDetails.GrandNameAr: null)">
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label>@SharedLocalizer.GetLocalizedHtmlString("Family Name (Arabic)")</label>
                            <input type="text" id="FamilyNameAr" name="FamilyNameAr" class="form-control" value="@(empDetails!=null?empDetails.FamilyNameAr: null)">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>-->
@Html.Partial("/Areas/HumanResource/Views/Emp/_generalInfoPartial.cshtml", empDetails)

<li class="nav-item">
    <a class="nav-link" id="tabGeneralInfo-tab" onclick="navigation('@empDetails.EmpId')" href="javascript:void(0)"><i class="fa fa-info"></i> @SharedLocalizer.GetLocalizedHtmlString("General Info")</a>
</li>
<li class="nav-item">
    <a class="nav-link" id="tabEducation-tab" data-toggle="pill" onclick="goItem('@Model.EmpId')" href="javascript:void(0)"><i class="fa fa-book"></i> @SharedLocalizer.GetLocalizedHtmlString("Education")</a>
</li>
<li class="nav-item">
    <a class="nav-link" id="tabAddress-tab" data-toggle="pill" onclick="goItemTwo('@Model.EmpId')" href="javascript:void(0)"><i class="fa fa-address-book"></i> @SharedLocalizer.GetLocalizedHtmlString("Address")</a>
</li>
<li class="nav-item">
    <a class="nav-link" id="tabBanks-tab" data-toggle="pill" onclick="goItemThree('@Model.EmpId')" href="javascript:void(0)"><i class="fa fa-building"></i> @SharedLocalizer.GetLocalizedHtmlString("Banks")</a>
</li>
<li class="nav-item">
    <a class="nav-link" id="tabDependents-tab" data-toggle="pill" onclick="goItemFour('@Model.EmpId')" href="javascript:void(0)"><i class="fa fa-users"></i> @SharedLocalizer.GetLocalizedHtmlString("Dependents")</a>
</li>
<li class="nav-item">
    <a class="nav-link" id="tabMedicals-tab" data-toggle="pill" onclick="goItemFive('@Model.EmpId')" href="javascript:void(0)"><i class="fa fa-clinic-medical"></i> @SharedLocalizer.GetLocalizedHtmlString("Medicals")</a>
</li>
<li class="nav-item">
    <a class="nav-link" id="tabVehicles-tab" data-toggle="pill" onclick="goItemSix('@Model.EmpId')" href="javascript:void(0)"><i class="fa fa-car"></i> @SharedLocalizer.GetLocalizedHtmlString("Vehicles")</a>
</li>
<li class="nav-item">
    <a class="nav-link" id="tabEmpContract-tab" data-toggle="pill" onclick="goItemSeven('@Model.EmpId')" href="javascript:void(0)"><i class="fa fa-file-contract"></i> @SharedLocalizer.GetLocalizedHtmlString("Contracts")</a>
</li>
<li class="nav-item">
    <a class="nav-link" id="tabEmpShifts-tab" data-toggle="pill" onclick="goItemEight('@Model.EmpId')" href="javascript:void(0)"><i class="fa fa-book"></i> @SharedLocalizer.GetLocalizedHtmlString("Shifts")</a>
</li>
<li class="nav-item">
    <a class="nav-link" id="tabEmpExperience-tab" data-toggle="pill" onclick="goItemNine('@Model.EmpId')" href="javascript:void(0)"><i class="fa fa-clipboard-list"></i> @SharedLocalizer.GetLocalizedHtmlString("Previous Experience")</a>
</li>
<li class="nav-item">
    <a class="nav-link" id="tabGosiSettings-tab" data-toggle="pill" onclick="goItemTen('@Model.EmpId')" href="javascript:void(0)"><i class="fa fa-cog"></i> @SharedLocalizer.GetLocalizedHtmlString("GOSI Settings")</a>
</li>
<li class="nav-item">
    <a class="nav-link" id="tabEmpLoans-tab" data-toggle="pill" onclick="goItemEleven('@Model.EmpId')" href="javascript:void(0)"><i class="fa fa-coins"></i> @SharedLocalizer.GetLocalizedHtmlString("Loans")</a>
</li>
<li class="nav-item">
    <a class="nav-link" id="tabEmpAchievements-tab" data-toggle="pill" onclick="goItemTwelve('@Model.EmpId')" href="javascript:void(0)"><i class="fa fa-medal"></i> @SharedLocalizer.GetLocalizedHtmlString("Achievements")</a>
</li>


<script>
    var applicationName = getApplicationName();



    function goItem() {

        window.location = applicationName + 'HumanResource/empeducation/emp/@Model.EmpId'
    };
    function goItemTwo() {

        window.location = applicationName + 'HumanResource/empaddresses/emp/@Model.EmpId'
    };
    function goItemThree() {

        window.location = applicationName + 'HumanResource/empbanks/emp/@Model.EmpId'
    };
    function goItemFour() {

        window.location = applicationName + 'HumanResource/empdependents/emp/@Model.EmpId'
    };
    function goItemFive() {

        window.location = applicationName + 'HumanResource/empmedicals/emp/@Model.EmpId'
    };
    function goItemSix() {

        window.location = applicationName + 'HumanResource/empvehicles/emp/@Model.EmpId'
    };
    function goItemSeven() {

        window.location = applicationName + 'HumanResource/EmpContracts/emp/@Model.EmpId'
    };
    function goItemEight() {

        window.location = applicationName + 'HumanResource/EmpShifts/emp/@Model.EmpId'
    };
    function goItemNine() {

        window.location = applicationName + 'HumanResource/EmpPreviousExp/emp/@Model.EmpId'
    };
     function goItemTen() {

        window.location = applicationName + 'HumanResource/EmpGosiSettings/emp/@Model.EmpId'
    };
    function goItemEleven() {

        window.location = applicationName + 'HumanResource/EmpLoans/emp/@Model.EmpId'
    };
    function goItemTwelve() {

        window.location = applicationName + 'HumanResource/EmpAchievement/emp/@Model.EmpId'
    };



</script>



@*@section scripts{

        <script>
            $(function () {
                debugger;
                $.get('@Url.Action("GetGeneralInfo", "Emp")', { id: $("#EmpId").val() }, function (content) {
                $("#dynamicContentContainer").html(content);
            });
        });
        </script>
    }*@