@using ErpOnClick.DAL.Models
@{
    IList<VacantJobs> vacantJobList = Model.VacantJobLists;
    IList<Lookups> departmentsList = Model.departmentsList;
    IList<Lookups> jobTypeList = Model.jobTypeList;
    IList<Lookups> locationList = Model.locationList;

    string categoryCheck = Model.categoryCheck;
    string jobTypeCheck = Model.jobTypeCheck;
    string locationCheck = Model.locationCheck;
    string fromRangeCheck = Model.fromRangeCheck;
    string toRangeCheck = Model.toRangeCheck;
    string dateCheck = Model.dateCheck;

    Layout = "_Layout";
}


<!-- Hero Area Start-->
<div class="slider-area ">
    <div class="single-slider section-overly slider-height2 d-flex align-items-center" data-background="../../assets/img/hero/about.jpg">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="hero-cap text-center">
                        <h2>Get your job</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Hero Area End -->
<!-- Job List Area Start -->
<div class="job-listing-area pt-120 pb-120">
    <div class="container">
        <div class="row">
            <!-- Left content -->

            <div class="col-xl-3 col-lg-3 col-md-4">
                <div class="row">
                    <div class="col-12">
                        <div class="small-section-tittle2 mb-45">
                            <div class="ion">
                                <svg xmlns="http://www.w3.org/2000/svg"
                                     xmlns:xlink="http://www.w3.org/1999/xlink"
                                     width="20px" height="12px">
                                    <path fill-rule="evenodd" fill="rgb(27, 207, 107)"
                                          d="M7.778,12.000 L12.222,12.000 L12.222,10.000 L7.778,10.000 L7.778,12.000 ZM-0.000,-0.000 L-0.000,2.000 L20.000,2.000 L20.000,-0.000 L-0.000,-0.000 ZM3.333,7.000 L16.667,7.000 L16.667,5.000 L3.333,5.000 L3.333,7.000 Z" />
                                </svg>
                            </div>
                            <h4>Filter Jobs</h4>
                        </div>
                    </div>
                </div>
                <!-- Job Category Listing start -->
                <form id="filterForms" role="form">
                    <div class="job-category-listing mb-50">
                        <!-- single one -->
                        <div class="single-listing">
                            <div class="small-section-tittle2">
                                <h4> Category</h4>
                            </div>
                            <!-- Select job items start -->
                            <div class="select-job-items2">
                                <select id="category" name="category">
                                    <option value=""></option>
                                    @foreach (var item in departmentsList)
                                    {
                                        if (categoryCheck != null && categoryCheck == item.Code)
                                        {
                                            <option value="@item.Code" selected>@item.LookupNameEn</option>
                                        }
                                        else
                                        {
                                            <option value="@item.Code">@item.LookupNameEn</option>
                                        }

                                    }

                                </select>
                            </div>
                            <!--  Select job items End-->
                            <!-- select-Categories start -->
                            <div class="select-job-items2" style="padding-top:60px">
                                <div class="small-section-tittle2">
                                    <h4 > Type</h4>
                                </div>
                                <select id="jobType" name="jobType">
                                    <option value=""></option>
                                    @foreach (var item in jobTypeList)
                                    {
                                        if (jobTypeCheck != null && jobTypeCheck == item.Code)
                                        {
                                            <option value="@item.Code" selected>@item.LookupNameEn</option>
                                        }
                                        else
                                        {
                                            <option value="@item.Code">@item.LookupNameEn</option>
                                        }

                                    }

                                </select>


                            </div>
                            <!-- select-Categories End -->
                        </div>
                        <!-- single two -->
                        <div class="single-listing" style="padding-top:60px">
                            <div class="small-section-tittle2">
                                <h4>Location</h4>
                            </div>
                            <!-- Select job items start -->
                            <div class="select-job-items2">
                                <select id="location" name="location">
                                    <option value=""></option>
                                    @foreach (var item in locationList)
                                    {
                                        if (locationCheck != null && locationCheck == item.Code)
                                        {
                                                <option value="@item.Code" selected>@item.LookupNameEn</option>
                                        }
                                        else
                                        {
                                             <option value="@item.Code">@item.LookupNameEn</option>
                                        }
                                        
                                    }

                                </select>
                            </div>

                        </div>
                        <!-- single three -->
                        <div class="single-listing" style="padding-top:60px">
                            <div class="small-section-tittle2">
                                <h4>Date</h4>
                            </div>
                            <!-- Select job items start -->
                            <div class="select-job-items2">
                                <select id="date" name="date">
                                    <option value=""></option>
                                    @if (dateCheck != null && dateCheck == "any")
                                    {
                                        <option value="any" selected>Any</option>
                                    }
                                    else
                                    {
                                        <option value="any">Any</option>
                                    }
                                    @if (dateCheck != null && dateCheck == "today")
                                    {
                                        <option value="today" selected>today</option>
                                    }
                                    else
                                    {
                                        <option value="today">today</option>
                                    }
                                    @if (dateCheck != null && dateCheck == "2")
                                    {
                                        <option value="2" selected>2 days</option>
                                    }
                                    else
                                    {
                                        <option value="2">2 Days</option>
                                    }
                                    @if (dateCheck != null && dateCheck == "3")
                                    {
                                        <option value="3" selected>3 Days</option>
                                    }
                                    else
                                    {
                                        <option value="3">3 Days</option>
                                    }
                                    @if (dateCheck != null && dateCheck == "5")
                                    {
                                        <option value="5" selected>5 Days</option>
                                    }
                                    else
                                    {
                                        <option value="5">5 Days</option>
                                    }
                                    @if (dateCheck != null && dateCheck == "10")
                                    {

                                        <option value="10" selected>10 Days</option>
                                    }
                                    else
                                    {
                                        <option value="10">10 Days</option>
                                    }
                                </select>
                            </div>

                        </div>

                        <div class="single-listing" style="padding-top:60px">
                            <!-- Range Slider Start -->
                            <aside class="left_widgets p_filter_widgets price_rangs_aside sidebar_box_shadow">
                                <div class="small-section-tittle2">
                                    <h4>Salary</h4>
                                </div>
                                <div class="widgets_inner">
                                    <div class="range_item">
                                        <!-- <div id="slider-range"></div> -->
                                        <input type="text" class="js-range-slider" value="" />
                                        <div class="d-flex align-items-center">
                                            <div class="price_text">
                                                <p>Salary:</p>
                                            </div>
                                            <div class="price_value d-flex justify-content-center">
                                                <input type="text" name="fromRange"  value="@(fromRangeCheck!=null?fromRangeCheck: "0")" class="js-input-from"  readonly />
                                                <span>to:</span>
                                                <input type="text" name="toRange" value="@(toRangeCheck!=null?toRangeCheck: "500000")" class="js-input-to"  readonly />

                                            </div>

                                        </div>
                                        <div class="row">
                                            <button onclick="searchFilter()" class="btn btn-primary col-md-6">Apply</button>

                                            <a asp-action="List" asp-controller="Home" class="btn btn-primary col-md-5" style="margin-left:4px;">Reset</a>
                                        </div>

                                    </div>
                                </div>
                            </aside>
                            <!-- Range Slider End -->
                        </div>

                    </div>
                </form>
                <!-- Job Category Listing End -->
            </div>

            <!-- Right content -->
            <div class="col-xl-9 col-lg-9 col-md-8">
                <!-- Featured_job_start -->
                <section class="featured-job-area">
                    <div class="container">
                        <!-- Count of Job list Start -->
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="count-job mb-35">
                                    <span>@vacantJobList.Count() Jobs found</span>
                                    <!-- Select job items start -->
                                    @*<div class="select-job-items">
                                            <span>Sort by</span>
                                            <select name="select">
                                                <option value="">None</option>
                                                <option value="">job list</option>
                                                <option value="">job list</option>
                                                <option value="">job list</option>
                                            </select>
                                        </div>*@
                                    <!--  Select job items End-->
                                </div>
                            </div>
                        </div>
                        <!-- Count of Job list End -->
                        <!-- single-job-content -->

                        @foreach (var item in vacantJobList)
                        {
                            <div class="single-job-items mb-30">
                                <div class="job-items">
                                    <div class="company-img">
                                        <a href="~/Home/Details/@item.JobId"><img src="~/assets/img/icon/job-list1.png" alt=""></a>
                                    </div>
                                    <div class="job-tittle job-tittle2">
                                        <a href="~/Home/Details/@item.JobId">
                                            <h4>@item.JobTitle</h4>
                                        </a>
                                        <ul>
                                            <li> @item.Company.CoNameEn</li>
                                            @*<li><i class="fas fa-map-marker-alt"></i>@item.CountryId , @item.CityId</li>*@
                                            <li>$@item.SalaryRangeStart - $@item.SalaryRangeEnd</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="items-link items-link2 f-right">
                                    <a href="~/Home/Details/@item.JobId">@item.JobType.LookupNameEn</a>

                                    <span>@(item.CreatedDate != null ? Convert.ToDateTime(item.CreatedDate).ToString("dd-MMM-yyyy") : "")</span>
                                </div>
                            </div>
                        }

                        <!-- single-job-content -->

                    </div>
                </section>
                <!-- Featured_job_end -->
            </div>
        </div>
    </div>
</div>




<script>
    var applicationName = getApplicationName();

    function searchFilter() {
        var data = $('#filterForms').serialize();
        window.location = applicationName+ 'Home/List/' + data;
    };
    function resetFilter() {

        window.location = applicationName+ 'Home/List/';
    };


</script>