@using ErpOnClick.DAL.Models
@using ErpOnClick.ErpMain.Resources
@inject LocService SharedLocalizer

@{ List<CreditNotes> CreditNotesMDetails = Model.creditNotesMList; }
<div class="table-responsive pb-2 ">
    <table id="dtList" class="table table-hover table-condensed ">
        <thead class="text-sm">
            <tr class="col-lg-12">
                <th style="width:20px">@SharedLocalizer.GetLocalizedHtmlString("Id")</th>
                <th>@SharedLocalizer.GetLocalizedHtmlString("Customer")</th>
                <th>@SharedLocalizer.GetLocalizedHtmlString("Date")</th>
                <th>@SharedLocalizer.GetLocalizedHtmlString("Due Date")</th>
                <th>@SharedLocalizer.GetLocalizedHtmlString("Amount")</th>


                <th style="width:25px">@SharedLocalizer.GetLocalizedHtmlString("Edit")</th>
                <th style="width:25px">@SharedLocalizer.GetLocalizedHtmlString("Delete")</th>
            </tr>
        </thead>
        <tfoot style="display:table-row-group">
            <tr class="text-center">
                <th style="width:20px">Id</th>
                <th>Customer</th>
                <th>Date</th>
                <th>DueDate</th>
                <th>Amount</th>

                <td></td>
                <td></td>

            </tr>
        </tfoot>
        <tbody>
            @foreach (var item in CreditNotesMDetails)
            {

<tr class="text-center">
    <td>@item.CreditNoteId</td>
    <td class="text-left">@item.Customer.CustomerNameEn</td>
    <td>@Convert.ToDateTime(item.CreditNoteDate).ToString("dd-MMM-yyyy")</td>
    <td>@Convert.ToDateTime(item.DueDate).ToString("dd-MMM-yyyy")</td>
    <td class="text-right">@item.Total</td>

    <td class="text-center padding-5">
        <a href="@Url.Content("~/")Finance/CreditNotes/edit/@item.CreditNoteId" class="btn btn-default btn-block  btn-xs "><i class="fa fa-edit"></i></a>
    </td>
    <td class="text-center padding-5">
        <a href="javascript:void(0)" class="btn btn-default btn-block btn-xs " onclick="deleteItem('@item.CreditNoteId')"><i class="fa fa-times text-danger"></i></a>
    </td>
</tr>
}
        </tbody>
    </table>
</div>

<script>
    $(function () {
        $('#AccRli').addClass("menu-open");
        $('#AccPli').removeClass("menu-open");
        $('#Accli').removeClass("menu-open");
        $('#Setupli').removeClass("menu-open");

        _initDatatable('#dtList');
    });

    function deleteItem(id) {
        confirmAction('Confirm ?', 'Are you sure you want to save changes ?', 'info', 'Yes', 'No').then(function (result) {
            if (result.value == true) {
                $.ajax({
                    url: getApplicationName() + "Finance/CreditNotes/Delete",
                    async: false,
                    type: "POST",
                    data: { id },
                    success: function (data) {
                        if (data.result.isError == true) {
                            showMsg('Deleted !', 'Record has been deleted !', 'success');
                            setTimeout(function () {
                                window.location = getApplicationName() + 'Finance/CreditNotes';
                            }, 500);
                        }
                        else if (data.result.msg != '') {
                            showMsg('Delete Failed !', data.result.msg, 'error');
                        }
                        else {
                            showMsg('Delete Failed !', 'Something went wrong. Try again', 'error');
                        }
                    }
                });
            }
        });
    }





</script>