@using ErpOnClick.ErpMain.Resources

@inject LocService SharedLocalizer

<div class="modal fade" id="_editNote" tabindex="-1" role="dialog" aria-labelledby="_editNoteLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <form id="formEditNote" role="form">

                <div class="modal-header " style="background-color:#dbefef">
                    <h2 class="card-title">
                        @SharedLocalizer.GetLocalizedHtmlString("Notes Form")
                    </h2>
                    <!-- tools box -->
                    <div class="card-tools">
                        <button type="submit" id="formsubmit" class="btn  btn-sm btn-primary pull-right">
                            <i class="fas fa-save fa-fw"></i>  @SharedLocalizer.GetLocalizedHtmlString("Save")
                        </button>
                        <button type="button" class="btn  btn-sm btn-default pull-right" data-dismiss="modal" aria-label="Close">
                            <i class="fas fa-arrow-left fa-fw"></i> @SharedLocalizer.GetLocalizedHtmlString("Return")
                        </button>
                        <div class="clearfix"></div>

                    </div>
                </div>

                <div class="modal-body">
                    
                    <div class="col-md-12" id="DetailsDiv">
                        <div class="card card-default card-outline">
                            <input type="text" hidden id="NoteId" name="NoteId" />
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label>@SharedLocalizer.GetLocalizedHtmlString("Title")</label>
                                            <input type="text" id="NoteTitle" name="NoteTitle" class="form-control" required>
                                        </div>
                                    </div>

                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label>@SharedLocalizer.GetLocalizedHtmlString("Parent Note")</label>
                                            <select id="ParentNoteId" name="ParentNoteId" class="form-control">
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <label>@SharedLocalizer.GetLocalizedHtmlString("Description")</label>
                                            <textarea id="NoteDescription" name="NoteDescription" class="form-control " style="border:none" placeholder="Enter Description here..." required></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>