@using ErpOnClick.DAL.Models
@using ErpOnClick.ErpMain.Resources
@inject LocService SharedLocalizer

@{
    List<AccountTypes> AccountTypeIdList = Model.AccountTypeIdList;
    List<AccountTypes> AccountTypes = Model.AccountTypes;

}

<div class="table-responsive pb-2 ">
    <table id="dtList" class="table table-hover table-condensed ">
        <thead class="text-sm ">
            <tr class="col-lg-12">
                <th style="width:20px">@SharedLocalizer.GetLocalizedHtmlString("Id")</th>
                <th>@SharedLocalizer.GetLocalizedHtmlString("Type Name")</th>
                <th>@SharedLocalizer.GetLocalizedHtmlString("Type Name Arabic")</th>
                <th>@SharedLocalizer.GetLocalizedHtmlString("Type Code")</th>
                <th>@SharedLocalizer.GetLocalizedHtmlString("Parent Category")</th>


                <th style="width:25px">@SharedLocalizer.GetLocalizedHtmlString("Edit")</th>
                <th style="width:25px">@SharedLocalizer.GetLocalizedHtmlString("Delete")</th>
            </tr>
        </thead>
        <tfoot style="display:table-row-group">
            <tr class="text-center">
                <th style="width:20px">ID</th>
                <th>Type Name EN</th>
                <th>Type Name AR</th>
                <th>Type Code</th>
                <th>Parent Category</th>


                <td></td>
                <td></td>
            </tr>
        </tfoot>
        <tbody>
            @foreach (var item in AccountTypeIdList)
            {

                <tr class="text-center">
                    <td style="width:20px">@(item.AccountTypeId != 0 ? item.AccountTypeId : 0)</td>
                    <td class="text-left">@(item.AccountTypeNameEn != null ? item.AccountTypeNameEn : "-")</td>
                    <td class="text-right">@(item.AccountTypeNameAr != null ? item.AccountTypeNameAr : "-")</td>
                    <td>@(item.AccountTypeCode != null ? item.AccountTypeCode : "-")</td>
                    <td>
                        @foreach (var list in AccountTypes)
                        {
                            if (item.ParentAccountTypeId == list.AccountTypeId)
                            {
                                @list.AccountTypeNameEn
                            }
                        }
                    </td>
                    <td class="text-center">
                        <a href="@Url.Content("~/")Finance/AccountTypes/edit/@item.AccountTypeId" class="btn btn-default btn-block  btn-xs "><i class="fa fa-edit"></i></a>
                    </td>
                    <td class="text-center">
                        <a href="javascript:void(0)" class="btn btn-default btn-block btn-xs " onclick="deleteItem('@item.AccountTypeId')"><i class="fa fa-times text-danger"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>


<script>
    $(function () {
        $('#Accli').addClass("menu-open");
        $('#Reportsli').removeClass("menu-open");
        $('#Statementsli').removeClass("menu-open");
        $('#AccPli').removeClass("menu-open");
        $('#AccRli').removeClass("menu-open");
        $('#Setupli').removeClass("menu-open");

        _initDatatable('#dtList');
    });

    function deleteItem(id) {
        confirmAction('Confirm ?', 'Are you sure you want to save changes ?', 'info', 'Yes', 'No').then(function (result) {
            if (result.value == true) {

                $.ajax({
                    url: getApplicationName() + 'Finance/AccountTypes/delete',
                    async: false,
                    type: "POST",
                    data: { id },
                    success: function (data) {
                        if (data.result.isError != true) {
                            showMsg('Deleted !', 'Record has been deleted !', 'success');
                            setTimeout(function () {
                                window.location = getApplicationName() + 'Finance/AccountTypes';
                            }, 500);
                        }
                        else if (data.result.msg != '') {
                            showMsg('Delete Failed !', data.result.msg, 'error');
                        }
                        else {
                            showMsg('Delete Failed !', 'Something went wrong. Try again', 'error');
                        }
                    }
                });
            }
        });
    }

</script>