@using ErpOnClick.DAL.Models
@{
    Layout = "_LayoutReport";
    List<AccountTypes> AccountTypes = Model.AccountTypeIdList;
    Company CompanyDetail = Model.CompanyDetail;
    List<AccountTypes> AccountTypeIdList = Model.AccountTypes;

}

<div>
    <br />

    <table id="Outline1" style="border-collapse: collapse" bordercolor="silver" cellspacing="0" cellpadding="3" width="100%" border="0">
        <tbody>
            <tr>
                <td>
                    <h2 class="ReportTitle text-center" style="font-size: 25px ; margin:0px;  ">
                        ACCOUNT TYPES
                    </h2>
                    <br>
                    <table cellspacing="0" cellpadding="5" rules="all" border="0" id="DataGrid1" style="width: 100%;  " class="tblDetail">
                        <thead>


                        </thead>
                        <tbody>
                            <tr class="Grid_HeaderStyle text-center">
                                <td width="100%"><i class="fa fa-filter"></i>Parent Category </td>

                            </tr>

                            <tr class="ItemColor text-center">

                                <td width="100%" nowrap="">
                                    @Model.AccountType
                                </td>

                            </tr>
                        </tbody>
                    </table>
                    <br>
                    <br />

                    <table cellspacing="0" cellpadding="5" rules="all" border="0" id="DataGrid1" style="width: 100%;  " class="tblDetail">
                        <thead>
                            @*<tr class="Grid_HeaderStyle Grid_HeaderStyle_Arabic">
                                    <th style="width:20px">الوصف</th>

                                    <th width="40px">ضريبة</th>
                                    <th width="40px">قيمة الضريبة</th>
                                    <th width="40px">إجمالي</th>
                                    <th width="40px">إجمالي</th>
                                </tr>*@
                            <tr class="Grid_HeaderStyle">
                                <th style="width:20px">Type Id</th>

                                <th>Type Name EN</th>
                                <th>Type Name AR</th>
                                <th>Type Code</th>
                                <th>Parent Category</th>

                            </tr>
                        </thead>
                        <tbody>
                            @if (AccountTypes.Count() > 0)
                            {
                                foreach (var item in AccountTypes)
                                {
                                    <tr class="ItemColor text-center">
                                        <td class="text-center">@(item.AccountTypeId != 0 ? item.AccountTypeId : 0)</td>
                                        <td class="text-center">@(item.AccountTypeNameEn != null ? item.AccountTypeNameEn : "-")</td>
                                        <td class="text-center">@(item.AccountTypeNameAr != null ? item.AccountTypeNameAr : "-")</td>
                                        <td class="text-center">@(item.AccountTypeCode != null ? item.AccountTypeCode : "-")</td>
                                        <td class="text-center">
                                            @foreach (var list in AccountTypeIdList)
                                            {
                                                if (item.ParentAccountTypeId == list.AccountTypeId)
                                                {
                                                    @list.AccountTypeNameEn
                                                }
                                            }
                                        </td>
                                    </tr>
                                }
                            }
                            else
                            {
                                <tr class="ItemColor text-center">
                                    <td colspan="5" class="text-center">Sorry! No Data Found.</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <br>
                    <br><br>
                    <hr style="border: 1px solid whitesmoke; margin-bottom:5px;">
                </td>
            </tr>
        </tbody>
    </table>

</div>