@using ErpOnClick.DAL.Models
@using ErpOnClick.Invoicing.Resources
@inject LocService SharedLocalizer

@{
    ItemCategories ItemCategoryDetail = Model.IdDetail;
    List<Branch> BranchDetails = Model.branchList;
    List<ItemCategories> ItemsList = Model.ItemsList;
    bool isEdit = (ItemCategoryDetail != null);
}



<form id="frmEdit" role="form">
    <input type="hidden" id="ACTION_TYPE" name="ACTION_TYPE" value="@(isEdit ? "update" : "save")" />
    <input type="hidden" id="ItemCategoryId" name="ItemCategoryId" class="form-control" value="@(ItemCategoryDetail != null ? ItemCategoryDetail.ItemCategoryId : 0)" />


    <div class="card card-default card-outline col-lg-8">

        <div class="card-header">
            <h2 class="card-title">
                @SharedLocalizer.GetLocalizedHtmlString("Item Category")
            </h2>
            <!-- tools box -->
            <div class="card-tools">
                <button type="submit" class="btn  btn-sm btn-primary">
                    <i class="fas fa-save fa-fw"></i> @SharedLocalizer.GetLocalizedHtmlString("Save")
                </button>
                <a href="~/admin/ItemCategories" type="button" class="btn  btn-sm btn-default">
                    <i class="fas fa-arrow-left fa-fw"></i>@SharedLocalizer.GetLocalizedHtmlString("Return") 
                </a>
            </div>
            <!-- /. tools -->
        </div>
    </div>


    <div class="card card-default card-outline col-lg-8">
        <div class="card-header">
            <h2 class="card-title">
                @SharedLocalizer.GetLocalizedHtmlString("Item Category Info")
            </h2>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>@SharedLocalizer.GetLocalizedHtmlString("Category Name")</label>
                        <input type="text" id="ItemCategoryNameEn" name="ItemCategoryNameEn" class="form-control" required value="@(ItemCategoryDetail != null ? ItemCategoryDetail.ItemCategoryNameEn : "")">
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>@SharedLocalizer.GetLocalizedHtmlString("Category Name (Arabic)")</label>
                        <input type="text" id="ItemCategoryNameAr" name="ItemCategoryNameAr" class="form-control" value="@(ItemCategoryDetail != null ? ItemCategoryDetail.ItemCategoryNameAr : "")">
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>@SharedLocalizer.GetLocalizedHtmlString("Category Code")</label>
                        <input type="number" id="ItemCategoryCode" name="ItemCategoryCode" class="form-control" value="@(ItemCategoryDetail != null ? ItemCategoryDetail.ItemCategoryCode : "")">
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>@SharedLocalizer.GetLocalizedHtmlString("Parent Category")</label>
                        <select id="ParentCategoryId" name="ParentCategoryId" class="form-control">
                            <option></option>
                            @foreach (var item in ItemsList)
                            {
                                if (ItemCategoryDetail != null && item.ItemCategoryId != ItemCategoryDetail.ItemCategoryId)
                                {
                                    <option value="@item.ItemCategoryId" @(ItemCategoryDetail != null && ItemCategoryDetail.ParentCategoryId == item.ItemCategoryId ? "selected" : "")> @item.ItemCategoryNameEn</option>
                                }
                                else if (ItemCategoryDetail == null)
                                {
                                    <option value="@item.ItemCategoryId"> @item.ItemCategoryNameEn</option>

                                }
                            }
                        </select>
                        @*<input type="number" id="ParentCategoryId" name="ParentCategoryId" class="form-control" value="@(ItemCategoryDetail!=null?ItemCategoryDetail.ParentCategoryId: 0)">*@
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card card-default card-outline col-lg-8">
        <div class="card-header">
            <h2 class="card-title">
                @SharedLocalizer.GetLocalizedHtmlString("Organization Details")
            </h2>
        </div>
        <div class="card-body">
            <div class="row">

                <div class="col-sm-6">
                    <div class="form-group">
                        <label>@SharedLocalizer.GetLocalizedHtmlString("Company")</label>
                        <select id="CompanyId" name="CompanyId" class="form-control" required>
                            <option></option>
                            @foreach (var item in Model.CompanyDetail)
                            {
                                <option value="@item.CompanyId" @(ItemCategoryDetail != null && ItemCategoryDetail.CompanyId == item.CompanyId ? "selected" : "")> @item.CoNameEn</option>

                            }
                        </select>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>@SharedLocalizer.GetLocalizedHtmlString("Branch")</label>
                        <select id="BranchId" name="BranchId" class="form-control" required>
                            @if (isEdit)
                            {
                                @foreach (var item in BranchDetails)
                                {
                                    <option value="@item.BranchId" @(ItemCategoryDetail != null && ItemCategoryDetail.BranchId == item.BranchId ? "selected" : "")> @item.BranchNameEn</option>

                                }
                            }
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>

</form>





@section scripts{

    <script>
        $(function () {

        });


        $('#frmEdit').on('submit', function (e) {
            e.preventDefault();
            var actionType = $('#ACTION_TYPE').val();

            confirmAction('Confirm ?', 'Are you sure you want to save changes ?', 'info', 'Yes', 'No').then(function (result) {
                if (result.value == true) {

                    var params = $('#frmEdit').serialize();
                    $.ajax({
                        url: getApplicationName() + "Admin/ItemCategories/" + actionType,
                        async: false,
                        type: "POST",
                        data: params,
                        success: function (data) {
                            if (data.result.isError != true) {
                                showMsg('Saved !', 'Record has been saved !', 'success');
                                setTimeout(function () {
                                    window.location = getApplicationName() + 'admin/ItemCategories';
                                }, 500);
                            }
                            else if (data.result.msg != '') {
                                showMsg('Save Failed !', data.result.msg, 'error');
                            }
                            else {
                                showMsg('Save Failed !', 'Something went wrong. Try again', 'error');
                            }
                        }
                    });
                }
            });




        });

        $('#CompanyId').change(function () {
            var id = $('#CompanyId').val();

            $.ajax({
                url: getApplicationName() + "Ajax/BranchCascading",
                async: false,
                type: "POST",
                data: { id: id },
                success: function (data) {
                    var item = '';

                    $.each(data.result, function (i, product) {
                        item += "<option value='" + product.branchId + "'>" + product.branchNameEn + "</option>";
                    });

                    $("#BranchId").html(item);

                }
            });

        });

    </script>

}