@using ErpOnClick.ErpMain.Resources
@inject LocService SharedLocalizer

@using ErpOnClick.DAL.Models
@{


    IList<Branch> branchList = Model.branchList;
    IList<Company> companyList = Model.companyList;
    IList<Divisions> divisionList = Model.divisionList;
    var divisionId = Model.divisionId;
    Divisions divisionDetails = Model.divisionDetails;
    IList<Emp> EmpList = Model.EmpList;

    Departments DepartmentsDetails = Model.DepartmentDetails;
    bool isEdit = (DepartmentsDetails != null);
}



<form id="frmEdit" role="form" enctype="multipart/form-data">
    <input type="hidden" id="ACTION_TYPE" name="ACTION_TYPE" value="@(isEdit ? "update" : "save")" />
    <input type="hidden" id="DepartmentId" name="DepartmentId" class="form-control" value="@(DepartmentsDetails != null ? DepartmentsDetails.DepartmentId : 0)" @(isEdit ? "readonly" : "") min="3" maxlength="3">
    <input type="hidden" id="CompanyId" name="CompanyId" class="form-control" value="@(DepartmentsDetails != null ? DepartmentsDetails.CompanyId : 0)">
    <input type="hidden" id="BranchId" name="BranchId" class="form-control" value="@(DepartmentsDetails != null ? DepartmentsDetails.BranchId : 0)">

    <div class="card card-default card-outline col-lg-8">
        <div class="card-header p-0 border-bottom-0">
            <ul class="nav nav-tabs" id="custom-content-below-tab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link" onclick="navigation('@divisionId')" href="javascript:void(0)">@SharedLocalizer.GetLocalizedHtmlString("General Info")</a>
                </li>


                @Html.Partial("/Areas/HumanResource/Views/divisions/_tabsPartial.cshtml", divisionDetails)


            </ul>
        </div>
        <div class="card-header">
            <h2 class="card-title">
                @SharedLocalizer.GetLocalizedHtmlString("Details")
            </h2>
            <!-- tools box -->
            <div class="card-tools">
                <button type="submit" class="btn  btn-sm btn-primary">
                    <i class="fas fa-save fa-fw"></i> @SharedLocalizer.GetLocalizedHtmlString("Save")
                </button>
                <a href="~/HumanResource/Departments/divisions/@divisionId" type="button" class="btn  btn-sm btn-default">
                    <i class="fas fa-arrow-left fa-fw"></i> @SharedLocalizer.GetLocalizedHtmlString("Return")
                </a>
            </div>
            <!-- /. tools -->
        </div>
        <div class="card-body">

            <div class="row">
                <div class="col-sm-6" style="display:none">
                    <div class="form-group">
                        <label>@SharedLocalizer.GetLocalizedHtmlString("Company")</label>
                        <select id="CompanyId" name="CompanyId" class="form-control">
                            <option selected></option>
                            @foreach (var item in companyList)
                            {
                                <option value="@item.CompanyId" @(DepartmentsDetails != null && DepartmentsDetails.CompanyId == item.CompanyId ? "selected" : "")>
                                    @item.CoNameEn
                                </option>
                            }
                        </select>
                    </div>
                </div>
                <div class="col-sm-6" style="display:none">
                    <div class="form-group">
                        <label>@SharedLocalizer.GetLocalizedHtmlString("Branch")</label>
                        <select id="BranchId" name="BranchId" class="form-control">
                            <option selected></option>
                            @foreach (var item in branchList)
                            {
                                <option value="@item.BranchId" @(DepartmentsDetails != null && DepartmentsDetails.BranchId == item.BranchId ? "selected" : "")>
                                    @item.BranchNameEn
                                </option>
                            }
                        </select>
                    </div>
                </div>
                <div class="col-sm-6 ">
                    <div class="form-group">
                        <label>@SharedLocalizer.GetLocalizedHtmlString("Divisions")</label>
                        <select id="DivisionId" name="DivisionId" class="form-control" required>

                            @foreach (var item in divisionList)
                            {
                                <option value="@item.DivisionId" @(DepartmentsDetails != null && DepartmentsDetails.DivisionId == item.DivisionId ? "selected" : "")>
                                    @item.DivisionNameEn
                                </option>
                            }
                        </select>
                    </div>
                </div>
                <div class="col-sm-6 ">
                    <div class="form-group">
                        <label>@SharedLocalizer.GetLocalizedHtmlString("Department Head")</label>
                        <select id="DepartmentHeadUid" name="DepartmentHeadUid" class="form-control" required>
                            <option selected></option>
                            @foreach (var item in EmpList)
                            {
                                <option value="@item.EmpId" @(DepartmentsDetails != null && DepartmentsDetails.DepartmentHeadUid == item.EmpId ? "selected" : "")>
                                    @(item.FirstNameEn + " " + item.FatherNameEn + " " + item.GrandNameEn + " " + item.FamilyNameEn)
                                </option>
                            }
                        </select>
                    </div>
                </div>
                <div class="col-sm-6 ">
                    <div class="form-group">
                        <label>@SharedLocalizer.GetLocalizedHtmlString("Reporting To")</label>
                        <select id="ReportingToUid" name="ReportingToUid" class="form-control" required>
                            <option selected></option>
                            @foreach (var item in EmpList)
                            {
                                <option value="@item.EmpId" @(DepartmentsDetails != null && DepartmentsDetails.ReportingToUid == item.EmpId ? "selected" : "")>
                                    @(item.FirstNameEn + " " + item.FatherNameEn + " " + item.GrandNameEn + " " + item.FamilyNameEn)
                                </option>
                            }
                        </select>
                    </div>
                </div>


            </div>
        </div>

    </div>
    <div class="card card-default card-outline col-lg-8">
        <div class="card-header">
            <h2 class="card-title">
                @SharedLocalizer.GetLocalizedHtmlString("More Details")
            </h2>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>@SharedLocalizer.GetLocalizedHtmlString("Name")</label>
                        <input type="text" id="DepartmentNameEn" name="DepartmentNameEn" class="form-control" value="@(DepartmentsDetails!=null?DepartmentsDetails.DepartmentNameEn: null)" required autofocus>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>@SharedLocalizer.GetLocalizedHtmlString("Name Arabic")</label>
                        <input type="text" id="DepartmentNameAr" name="DepartmentNameAr" class="form-control" value="@(DepartmentsDetails!=null?DepartmentsDetails.DepartmentNameAr: null)">
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="form-group">
                        <label>@SharedLocalizer.GetLocalizedHtmlString("Department Code")</label>
                        <input type="text" id="DepartmentCode" name="DepartmentCode" class="form-control" value="@(DepartmentsDetails!=null?DepartmentsDetails.DepartmentCode: null)" required>
                    </div>
                </div>

            </div>
        </div>
    </div>

</form>





@section scripts{

    <script>
        var applicationName = getApplicationName();

        $(function () {

            $("#tabDepartment-tab").addClass("nav-link active");

            $('#Detail').summernote(
                {
                    height: 200,
                }
            );
        });
        $('#CompanyId').change(function () {

            var id = $('#CompanyId').val();

            $.ajax({
                url: applicationName+"Ajax/BranchCascading",
                async: false,
                type: "POST",
                data: { id: id },
                success: function (data) {

                    var item = '';

                    $.each(data.result, function (i, product) {

                        item += "<option value='" + product.branchId + "'>" + product.branchNameEn + "</option>";
                    });

                    $("#BranchId").html(item);

                }
            });

        });

        $('#frmEdit').on('submit', function (e) {
            e.preventDefault();
            var actionType = $('#ACTION_TYPE').val();

            confirmAction('Confirm ?', 'Are you sure you want to save changes ?', 'info', 'Yes', 'No').then(function (result) {
                if (result.value == true) {

                    var params = $('#frmEdit').serialize();
                    var formEl = document.forms.frmEdit;
                    var formData = new FormData(formEl);


                    $.ajax({
                        url: applicationName+"HumanResource/Departments/" + actionType,
                        type: "POST",
                        data: formData ? formData : params,
                        async: false,
                        cache: false,
                        contentType: false,
                        processData: false,
                        success: function (data) {
                            if (data.result.isError != true) {
                                showMsg('Saved !', 'Record has been saved !', 'success');
                                setTimeout(function () {
                                    window.location = applicationName+ 'HumanResource/Departments/divisions/@divisionId';
                                }, 500);
                            }
                            else if (data.result.msg != '') {
                                showMsg('Save Failed !', data.result.msg, 'error');
                            }
                            else {
                                showMsg('Save Failed !', 'Something went wrong. Try again', 'error');
                            }
                        }
                    });
                }
            });




        });
        function navigation() {
            window.location = applicationName +'HumanResource/divisions/edit/@divisionId'
        };

    </script>

}

