

<div class="row" id="project-boxes">
    @if (User.IsInRole("SuperAdmin") || User.IsInRole("HR"))
    {
        <div class="col-md-3 col-6 project-boxes-outer" onclick="window.location.href='@Url.Content("~/")HumanResource/hrdashboard/index'" data-toggle="tooltip" title="HR">
            <!-- small card -->
            <div class="small-box">
                <div class="icon">
                    <i class="ion ion-ios-people-outline"></i>
                </div>
                <div class="inner">
                    <h3>HR</h3>
                </div>
            </div>
        </div>
    }
    @if (User.IsInRole("SuperAdmin") || User.IsInRole("Finance"))
    {
        <div class="col-md-3 col-6 project-boxes-outer" onclick="window.location.href='@Url.Content("~/")Finance/FinanceDashBoard/index'" data-toggle="tooltip" title="Finance">
            <!-- small card -->
            <div class="small-box">
                <div class="icon">
                    <i class="ion ion-stats-bars"></i>
                </div>
                <div class="inner">
                    <h3>Finance</h3>
                </div>
            </div>
        </div>

        <!--<div class="col-md-3 col-6 project-boxes-outer" onclick="window.location.href='@Url.Content("~/")Finance/FinanceDashBoard/index'" data-toggle="tooltip" title="Quality">-->
        <!-- small card -->
        <!--<div class="small-box">
                <div class="icon">
                    <i class="ion ion-clipboard"></i>
                </div>
                <div class="inner">
                    <h3>Quality</h3>
                </div>
            </div>
        </div>-->
    }
    @if (User.IsInRole("SuperAdmin") || User.IsInRole("Projects"))
    {
        <div class="col-md-3 col-6 project-boxes-outer" onclick="window.location.href='@Url.Content("~/")Projects/ProjectsDashBoard/index'" data-toggle="tooltip" title="Projects">
            <!-- small card -->
            <div class="small-box">
                <div class="icon">
                    <i class="ion ion-grid"></i>
                </div>
                <div class="inner">
                    <h3>Projects</h3>
                </div>
            </div>
        </div>
    }
    @if (User.IsInRole("SuperAdmin") || User.IsInRole("Inventory"))
    {
        <!-- ./col -->
        <div class="col-md-3 col-6 project-boxes-outer" onclick="window.location.href='@Url.Content("~/")Inventory/InventoryDashBoard/index'" data-toggle="tooltip" title="Inventory">
            <!-- small card -->
            <div class="small-box">
                <div class="icon">
                    <i class="ion ion-ios-filing-outline"></i>
                </div>
                <div class="inner">
                    <h3>Inventory</h3>
                </div>
            </div>
        </div>
    }
    <!-- ./col -->
    <!-- ./col -->



    @if (User.IsInRole("SuperAdmin"))
    {
        <div class="col-md-3 col-6 project-boxes-outer" onclick="window.location.href='@Url.Content("~/")Security/SecurityDashBoard/index'" data-toggle="tooltip" title="Security & Settings">
            <!-- small card -->
            <div class="small-box">
                <div class="icon">
                    <i class="ion ion-ios-gear-outline"></i>
                </div>
                <div class="inner">
                    <h3>Security & Settings</h3>
                </div>
            </div>
        </div>


    }
    <div class="col-md-3 col-6 project-boxes-outer" onclick="window.location.href='@Url.Content("~/")Approvals/Inbox?status=007001'" data-toggle="tooltip" title="Approvals">
        <!-- small card -->
        <div class="small-box">
            <div class="icon">
                <i class="ion ion-android-checkbox-outline"></i>
            </div>
            <div class="inner">
                <h3>Approvals</h3>
            </div>
        </div>
    </div>
    <!-- ./col -->

    <div class="col-md-3 col-6 project-boxes-outer" onclick="window.location.href='@Url.Content("~/")ESS/essdashboard/index'" data-toggle="tooltip" title="Security & Settings">
        <!-- small card -->
        <div class="small-box">
            <div class="icon">
                <i class="ion ion-ios-people-outline"></i>
            </div>
            <div class="inner">
                <h3>ESS</h3>
            </div>
        </div>
    </div>
</div>

@section scripts{

    <script>
        $(function () {
            
            $('#noti').hide();
        });
    </script>
}