@using ErpOnClick.DAL.Models
@using ErpOnClick.ErpMain.Resources
@inject LocService SharedLocalizer

@{

}






<div class="card card-default card-outline">

    <div class="card-header">
        <h2 class="card-title">
            @SharedLocalizer.GetLocalizedHtmlString("OverTime Request")
        </h2>
        <!-- tools box -->
        <div class="card-tools">
            <a href="~/HumanResource/OverTimeRequest/edit" type="button" class="btn  btn-sm btn-primary">
                <i class="fas fa-plus"></i> @SharedLocalizer.GetLocalizedHtmlString("Add New")
            </a>
        </div>
        <!-- /. tools -->
    </div>
    <div class="card-footer pb-0 pt-2 text-sm">
        <form id="frmSearch">
            <div class="row">


                <div class="col-sm-3">
                    <div class="form-group">
                        <label>@SharedLocalizer.GetLocalizedHtmlString("From Date") </label>
                        <input type="text" id="FromDate" name="FromDate" class="form-control DatePicker">
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label>@SharedLocalizer.GetLocalizedHtmlString("To Date") </label>
                        <input type="text" id="ToDate" name="ToDate" class="form-control DatePicker">
                    </div>
                </div>
                <div class="col-sm-1">
                    <button style="margin-top:29px" type="submit" class="btn btn-primary btn-block"> @SharedLocalizer.GetLocalizedHtmlString("Search")</button>
                </div>
            </div>
        </form>
    </div>



    <div class="card-body">
        <div id="divList"></div>

    </div>
</div>


@section scripts{
    <script>
        $(function () {
            $('#frmSearch').submit(function (e) {
                e.preventDefault();
                BindGrid();
            })
            BindGrid();
        });
        var applicationName = getApplicationName();


        function BindGrid() {

            $('#divList').html('<h5 class="margin-0"><p><i class="fa fa-spinner fa-spin fa-fw"></i> Please wait while data is loading...</p></h5>');
            $.ajax({
                url: applicationName + 'HumanResource/OverTimeRequest/_list',
                data: $('#frmSearch').serialize(),
                success: function (data) {
                    $('#divList').html(data);
                }
            })
        };

    </script>
}
