@using ErpOnClick.DAL.Models
@{
    Owner OwnerDetail = Model.ownerDetails;
    List<Buildings> BuildingDetail = Model.BuildingDetail;
    List<Company> CompanyDetails = Model.companyList;
    List<Branch> BranchDetails = Model.BranchIdDetail;
    List<Lookups> Ownerlist = Model.Ownerlist;
    bool isEdit = (OwnerDetail != null);
}



<form id="frmEdit" role="form">
    <input type="hidden" id="ACTION_TYPE" name="ACTION_TYPE" value="@(isEdit ? "update" : "save")" />
    <input type="hidden" id="OwnerId" name="OwnerId" class="form-control" value="@(OwnerDetail != null ? OwnerDetail.OwnerId : 0)" />


    <div class="card card-default card-outline col-lg-8">

        <div class="card-header">
            <h2 class="card-title">
                Owner's Info
            </h2>
            <!-- tools box -->
            <div class="card-tools">
                <button type="submit" class="btn  btn-sm btn-primary">
                    <i class="fas fa-save fa-fw"></i> Save
                </button>
                <a href="~/Security/Owner" type="button" class="btn  btn-sm btn-default">
                    <i class="fas fa-arrow-left fa-fw"></i> Return
                </a>
            </div>
            <!-- /. tools -->
        </div>
    </div>
    <div class="card card-default card-outline col-lg-8">
        <div class="card-header">
            <h2 class="card-title">
                 Owner Info
            </h2>
        </div>
        <div class="card-body">

            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label>Name</label>
                        <input type="text" id="OwnerName" name="OwnerName" class="form-control" required value="@(OwnerDetail!=null?OwnerDetail.OwnerName: null)">
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="form-group">
                        <label>OwnerPosition</label>
                        <input type="text" id="OwnerPosition" name="OwnerPosition" class="form-control" value="@(OwnerDetail!=null?OwnerDetail.OwnerPosition: "")">
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label>OwnerShares</label>
                        <input type="number" id="OwnerShares" name="OwnerShares" class="form-control" value="@(OwnerDetail!=null?OwnerDetail.OwnerShares: 0)">
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="form-group">
                        <label>Description</label>
                        <textarea id="Description" name="Description" rows="5" required class="form-control">@(OwnerDetail != null? OwnerDetail.Description : "")</textarea>
                    </div>
                </div>
               

            </div>
        </div>
    </div>


  
</form>





@section scripts{

    <script>
        $(function () {

        });
        $('#CompanyId').change(function () {
            var id = $('#CompanyId').val();

            $.ajax({
                url: getApplicationName() +"Ajax/BranchCascading",
                async: false,
                type: "POST",
                data: { id: id },
                success: function (data) {
                    var item = '';

                    $.each(data.result, function (i, product) {
                        item += "<option value='" + product.branchId + "'>" + product.branchNameEn + "</option>";
                    });

                    $("#BranchId").html(item);

                }
            });

        });

        $('#frmEdit').on('submit', function (e) {
            e.preventDefault();
          
            var actionType = $('#ACTION_TYPE').val();

            confirmAction('Confirm ?', 'Are you sure you want to save changes ?', 'info', 'Yes', 'No').then(function (result) {
                if (result.value == true) {

                    var params = $('#frmEdit').serialize();
                    $.ajax({
                        url: getApplicationName() +"Security/Owner/" + actionType,
                        async: false,
                        type: "POST",
                        data: params,
                        success: function (data) {
                            if (data.result.isError != true) {
                                showMsg('Saved !', 'Record has been saved !', 'success');
                                setTimeout(function () {
                                    window.location = getApplicationName() +'Security/Owner';
                                }, 500);
                            }
                            else if (data.result.msg != '') {
                                showMsg('Save Failed !', data.result.msg, 'error');
                            }
                            else {
                                showMsg('Save Failed !', 'Something went wrong. Try again', 'error');
                            }
                        }
                    });
                }
            });




        });

    </script>

}